.linkage_box{border:1px solid #ccc;padding:5px 10px; position:absolute;top:20px;left:10px;background:#fff; z-index:999;}
.linkage_box span{display:inline-block;margin-right:10px;height:30px;line-height:30px; cursor:pointer;color:#369;}
.linkage_box .close{position:absolute;top:5px;right:5px;width:16px;height:16px;background:url(ico.png) no-repeat 98% -16px; text-indent:-99px;overflow:hidden;}

.linkage_select{display:inline-block;margin-right:10px; cursor:pointer;font-size:12px;padding:2px 15px 2px 10px;background:url(ico.png) no-repeat 98% 0px; position:relative;}
