<include file="Public:header" />
<link type="text/css" href="__PUBLIC__/Admin/timepicker/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
 <link type="text/css" href="__PUBLIC__/Admin/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/Admin/timepicker/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/timepicker/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/timepicker/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
<script type="text/javascript">
$(function () {
    $(".ui_timepicker").datetimepicker({
        //showOn: "button",
        //buttonImage: "./__PUBLIC__/Admin/timepicker/images/icon_calendar.gif",
        //buttonImageOnly: true,
        showSecond: true,
        timeFormat: 'hh:mm:ss',
        stepHour: 1,
        stepMinute: 1,
        stepSecond: 1
    })
})
</script>

<form class="J_ajaxForms" name="form" id="form" action="{:U('Activity/add')}" method="POST" enctype="multipart/form-data">
	<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="{:U('Activity/index')}">返回列表</a></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content  form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">活动名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="title" class="form-control requireinput" value="">
                            </div>
                        </div>
                    <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">活动头图</label>
                            <div class="col-sm-10">
                                <input type="file" name="img" value="">
                            </div>
                        </div>
                      <div class="hr-line-dashed"></div>
                          <div class="form-group">
                                  <label class="col-sm-2 control-label">活动商品</label>
                                  <div class="col-sm-10">
                                      <select name="gid" id="goodid"  class="form-control">
                                        <!-- 在select中添加multiple="multiple"属性，name改为数组name[],可以实现多选。 -->
                                              <option value="0">==请选择==</option>
                                            <foreach name="goods_list" item="gl">
                                              <option value="{$gl.id}" >{$gl.name}</option>
                                            </foreach>
                                      </select>
                                  </div>
                              </div>
                      <div class="hr-line-dashed"></div>
												<div class="form-group">
														<label class="col-sm-2 control-label">说明</label>
														<div class="col-sm-10">
																<input type="text" name="instruction" class="form-control requireinput" value="">
														</div>
												</div>
										<div class="hr-line-dashed"></div>
												<div class="form-group">
														<label class="col-sm-2 control-label">折扣（填写小数，例:1折就写0.1）</label>
														<div class="col-sm-10">
																<input type="text" name="discount" class="form-control requireinput" value="">
														</div>
												</div>
										<div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">开始时间</label>
                            <div class="col-sm-10">
                                <input type="text" name="saletime" class="ui_timepicker" class="form-control requireinput" value="">
                            </div>
                        </div>
                    <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">截至时间</label>
                            <div class="col-sm-10">
                                <input type="text" name="nosaletime" class="ui_timepicker" class="form-control requireinput" value="">
                            </div>
                        </div>
                    <div class="hr-line-dashed"></div>
                        <div class="form-group">
                                <label class="col-sm-2 control-label">是否启用</label>

                                <div class="col-sm-10">
                                    <input type="radio" name="status" value="1" checked="checked">启用&nbsp;&nbsp;
																		<input type="radio" name="status" value="0">不启用
                                </div>
                            </div>
                    <div class="hr-line-dashed"></div>
                	    <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="submit" class="btn btn-w-m btn-success" " />
                                <input type="reset" class="btn btn-w-m btn-default" " />
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>
<include file="Public:footer" />
