<include file="Public:header2" />
  <!-- 导航条结束 -->
  <!-- 公司介绍 -->
  <div class="container" style="min-height:650px;">
   <div class="container-fluid successplan-content">
    <div class="row successplan-row">
     <div class="col-md-9 timeline " style="text-align:left;margin-top:30px;margin-bottom: 50px;" >
      <!-- 案例header -->
      <div class="successplan-header">
       <span class="success-title"> 新闻动态 </span>
       <span class="title-eng"> /news information </span>
       <span class="success-small-title"> &middot; 首页 &gt; 新闻动态 &gt; 引导塑料制造行业的几个发展趋势</span>
      </div>
      <!-- 新闻内容 -->
        <div class="page" style="width:80%;">
					<div class="news-detail-title">
						<p>引导塑料制造行业的几个发展趋势</p>
					</div>
					<div class="news-detail-des">
						<p>时间：2018年4月2日</p>
					</div>
					<div class="">
						1、精密机械零件加工

精密零件加工精度以纳米，甚至最后以原子单位(原子晶格距离为0.1～0.2纳米)为目标时，超精密零件切削加工方法已不能适应，必要借助特种精密零件加工的方法，即应用化学能、电化学能、热能或电能等，使这些能量超越原子间的联合能，从而去除工件外表的部分原子间的附着、联合或晶格变形，以达到超精密加工的目的。属于这类加工的有机械化学抛光、离子溅射和离子注入、电子束曝射、激光束加工、金属蒸镀和分子束外延等。

2、精密机械零件切削加工

主要有精密车削、镜面磨削和研磨等。在精密车床上用通过精细研磨的单晶金刚石车刀举行微量车削,切削厚度仅1微米左右，常用于加工有色金属材料的球面、非球面和平面的反射镜等高精度、外表高度光洁的零件。例如加工核聚变装置用的直径为800毫米的非球面反射镜，最高精度可达0.1微米，外表粗糙度为Rz0.05微米。

以上便是本文的详细介绍，希望对大家有帮助!如果你还想了解更多关于产品的相关信息，请您与我们的客服人员取得联系!
              <img src="__PUBLIC__/Home/images/315.png" alt="" style="width:100%;">
					</div>
        </div>
     </div>
     <!-- 重大事件 -->
     <div class="col-md-3  important-event">
       <div class="event-header">
         重大事件
       </div>
       <div class="important-event-part">
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="detail.html">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
       </div>
      	<div class="event-footer">
           滑动查看更多
         </div>
      </div>
    </div>
   </div>
  </div>
  <!-- 底部板块 -->
<include file="Public:footer" />
