<include file="Public:header2" />
  <!-- 导航条结束 -->
  <!-- 公司介绍 -->
  <div class="container" style="min-height:650px;">
   <div class="container-fluid successplan-content">
    <div class="row successplan-row">
     <div class="col-md-9 timeline " style="text-align:left;margin-top:30px;margin-bottom: 50px;" >
      <!-- 案例header -->
      <div class="successplan-header">
       <span class="success-title"> 新闻动态 </span>
       <span class="title-eng"> /news information </span>
       <span class="success-small-title"> &middot; 首页 &gt; 新闻动态 &gt; 引导塑料制造行业的几个发展趋势</span>
      </div>
      <!-- 新闻内容 -->
        <div class="page">
					<div class="news-detail-title">
						<p>引导塑料制造行业的几个发展趋势</p>
					</div>
					<div class="">
						内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要内容概要
					</div>
        </div>
     </div>
     <!-- 重大事件 -->
     <div class="col-md-3  important-event">
       <div class="event-header">
         重大事件
       </div>
       <div class="important-event-part">
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="detail.html">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
       </div>
      	<div class="event-footer">
           滑动查看更多
         </div>
      </div>
    </div>
   </div>
  </div>
  <!-- 底部板块 -->
<include file="Public:footer" />
