<include file="Public:header2" />
  <!-- 导航条结束 -->
  <!-- 公司介绍 -->
  <div class="container" style="min-height:650px;">
   <div class="container-fluid successplan-content">
    <div class="row successplan-row">
     <div class="col-md-11 timeline " style="text-align:left;margin-top:30px;margin-bottom: 50px;" >
      <!-- 案例header -->
      <div class="successplan-header">
       <span class="success-title"> <a href="{:U('News/index')}" class="a_link">新闻动态 </a></span>
       <span class="title-eng"> /news information </span>
       <span class="success-small-title"> &middot; <a href="{:U('Index/index')}" class="a_link">首页</a>&gt; <a href="{:U('News/index')}" class="a_link">新闻动态</a> &gt; {$detail.title}</span>
      </div>
      <!-- 新闻内容 -->
        <div class="page" >
					<div class="news-detail-title">
						<p>{$detail.title}</p>
					</div>
					<div class="news-detail-des">
						<p>时间：{$detail.create_time|date="Y年m月d日",###}</p>
					</div>
					<div class="">
            <img src="__ROOT__/Uploads/{$detail.img}" alt="" width="100%;">
            {$str}
					</div>
        </div>
     </div>
     <!-- 重大事件 -->
     <!-- <div class="col-md-3  important-event">
       <div class="event-header">
         重大新闻
       </div>
       <div class="important-event-part" id="important-event-list">
         <foreach name="imp_list" item="imp">
           <div class="event-one">
             <img src="__ROOT__/Uploads/{$imp.img}" alt="">
             <div class="event-one-bg">
               <p class="event-title">{$imp.title}</p>
               <span class="event-words">{$imp.main|mb_substr=0,30}……</span>
               <p class="event-look"><a href="{:U('News/detail',array('id'=>$imp[id]))}">点击查看</a></p>
             </div>
           </div>
         </foreach>
       </div>
       <if condition="$imp_status eq 0">
         <div class="event-footer">
             暂无更多
          </div>
        <else/>
          <div class="event-footer">
             滑动查看更多
           </div>
         </if>
       </div> -->
    </div>
   </div>
  </div>
  <!-- 底部板块 -->
<include file="Public:footer" />
