<include file="Public:header2" />
  <!-- 导航条结束 -->
  <!-- 公司介绍 -->
  <div class="container" style="min-height:650px;">
   <div class="container-fluid successplan-content">
    <div class="row successplan-row">
     <div class="col-md-11 timeline " style="height:1100px;text-align:left;margin-top:30px;margin-bottom:50px;overflow-x:inherit;" id="news-list" >
      <!-- 案例header -->
      <div class="successplan-header">
       <span class="success-title"> 新闻动态 </span>
       <span class="title-eng"> /news information </span>
       <span class="success-small-title"> &middot; 首页 &gt; 新闻动态 </span>
      </div>
      <!-- 新闻内容 -->
        <div class="page">
          <div class="box">
            <ul class="event_year">
              <foreach name="arr" item="v">
                <li><label for="{$v.year}">{$v.year}</label></li>
              </foreach>
            </ul>
            <ul class="event_list">
              <foreach name="arr" item="v2">
                <div>
                  <h3 id={$v2.year}>{$v2.year}</h3>
                  <foreach name="v2['article']" item="v2_a">
                    <li> <span>{$v2_a.create_time|date="m月d日",###}</span>
                    <p>
                      <span class="news-one">
                        <img src="__ROOT__/Uploads/{$v2_a.img}" alt="" width="150px;">
                        <span class="news-title">{$v2_a.title}</span>
                        <span class="news-words">{$v2_a.main}</span>
                        <span class="news-look"><a href="{:U('News/detail',array('id'=>$v2_a[id]))}">点击查看</a></span>
                      </span>
                    </p>
                  </li>
                  </foreach>
                </div>
              </foreach>
              <div class="clearfix"></div>
            </ul>
          </div>
        </div>
        <script>
          $(function(){
            $('label').click(function(){
              $('.event_year>li').removeClass('current');
              $(this).parent('li').addClass('current');
              var year = $(this).attr('for');
              $('#'+year).parent().prevAll('div').slideUp(800);
              $('#'+year).parent().slideDown(800).nextAll('div').slideDown(800);
            });
          });
        </script>
     </div>
     <!-- 重大事件 -->
     <!-- <div class="col-md-3  important-event">
       <div class="event-header">
         重大新闻
       </div>
       <div class="important-event-part" id="important-event-list">
         <foreach name="imp_list" item="imp">
           <div class="event-one">
             <img src="__ROOT__/Uploads/{$imp.img}" alt="">
             <div class="event-one-bg">
               <p class="event-title">{$imp.title}</p>
               <span class="event-words">{$imp.main|mb_substr=0,30}……</span>
               <p class="event-look"><a href="{:U('News/detail',array('id'=>$imp[id]))}">点击查看</a></p>
             </div>
           </div>
         </foreach>
       </div>
       <if condition="$imp_status eq 0">
         <div class="event-footer">
             暂无更多
          </div>
        <else/>
          <div class="event-footer">
             滑动查看更多
           </div>
         </if>
       </div> -->
    </div>
   </div>
  </div>
  <!-- 底部板块 -->
<script src="__PUBLIC__/Home/js/jquery.nicescroll.js" charset="utf-8"></script>
<script type="text/javascript">
    $('#news-list').niceScroll({
        cursorcolor: "#ccc",//#CC0071 光标颜色
        cursoropacitymax: 1, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
        touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
        cursorwidth: "5px", //像素光标的宽度
        cursorborder: "0", // 	游标边框css定义
        cursorborderradius: "5px",//以像素为光标边界半径
        autohidemode: "hidden" //是否隐藏滚动条
    });
    $('#important-event-list').niceScroll({
        cursorcolor: "#ccc",//#CC0071 光标颜色
        cursoropacitymax: 1, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
        touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
        cursorwidth: "5px", //像素光标的宽度
        cursorborder: "0", // 	游标边框css定义
        cursorborderradius: "5px",//以像素为光标边界半径
        autohidemode: "hidden" //是否隐藏滚动条
    });
</script>
<script type="text/javascript">
  $('.event_year li:first').addClass('current');
</script>
<include file="Public:footer" />
