<include file="Public:header2" />
  <!-- 导航条结束 -->
  <!-- 公司介绍 -->
  <div class="container" style="min-height:650px;">
   <div class="container-fluid successplan-content">
    <div class="row successplan-row">
     <div class="col-md-9 timeline " style="height:1100px;text-align:left;margin-top:30px;margin-bottom: 50px;overflow-y:auto;overflow-x:hidden;" >
      <!-- 案例header -->
      <div class="successplan-header">
       <span class="success-title"> 新闻动态 </span>
       <span class="title-eng"> /news information </span>
       <span class="success-small-title"> &middot; 首页 &gt; 新闻动态 </span>
      </div>
      <!-- 新闻内容 -->
        <div class="page">
          <div class="box">
            <ul class="event_year">
              <li class="current"><label for="2018">2018</label></li>
              <li><label for="2017">2017</label></li>
              <li><label for="2016">2016</label></li>
              <li><label for="2015">2015</label></li>
            </ul>
            <ul class="event_list">
              <div>
                <h3 id="2018">2018</h3>
                <li> <span>3月2日</span>
                  <p>
                    <span class="news-one">
                      <img src="__PUBLIC__/Home/images/news-2.png" alt="">
                      <span class="news-title">引领未来塑料发展的几个趋势</span>
                      <span class="news-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
                      <span class="news-look"><a href="{:U('News/detail')}">点击查看</a></span>
                    </span>
                  </p>
                </li>
                <li> <span>2月2日</span>
                  <p>
                    <span class="news-one">
                      <img src="__PUBLIC__/Home/images/news-2.png" alt="">
                      <span class="news-title">引领未来塑料发展的几个趋势</span>
                      <span class="news-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
                      <span class="news-look"><a href="{:U('News/detail')}">点击查看</a></span>
                    </span>
                  </p>
                </li>
                <li> <span>1月2日</span>
                  <p>
                    <span class="news-one">
                      <img src="__PUBLIC__/Home/images/news-2.png" alt="">
                      <span class="news-title">引领未来塑料发展的几个趋势</span>
                      <span class="news-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
                      <span class="news-look"><a href="{:U('News/detail')}">点击查看</a></span>
                    </span>
                  </p>
                </li>
              </div>
              <div>
                <h3 id="2017">2017</h3>
                <li> <span>12月26日</span>
                  <p>
                    <span class="news-one">
                      <img src="__PUBLIC__/Home/images/news-2.png" alt="">
                      <span class="news-title">引领未来塑料发展的几个趋势</span>
                      <span class="news-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
                      <span class="news-look"><a href="{:U('News/detail')}">点击查看</a></span>
                    </span>
                  </p>
                </li>
              </div>
              <div>
                <h3 id="2016">2016</h3>
                <li> <span>3月2日</span>
                  <p>
                    <span class="news-one">
                      <img src="__PUBLIC__/Home/images/news-2.png" alt="">
                      <span class="news-title">引领未来塑料发展的几个趋势</span>
                      <span class="news-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
                      <span class="news-look"><a href="{:U('News/detail')}">点击查看</a></span>
                    </span>
                  </p>
                </li>
                <li> <span>3月2日</span>
                  <p>
                    <span class="news-one">
                      <img src="__PUBLIC__/Home/images/news-2.png" alt="">
                      <span class="news-title">引领未来塑料发展的几个趋势</span>
                      <span class="news-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
                      <span class="news-look"><a href="{:U('News/detail')}">点击查看</a></span>
                    </span>
                  </p>
                </li>
              </div>
              <div>
                <h3 id="2015">2015</h3>
                <li> <span>3月2日</span>
                  <p>
                    <span class="news-one">
                      <img src="__PUBLIC__/Home/images/news-2.png" alt="">
                      <span class="news-title">引领未来塑料发展的几个趋势</span>
                      <span class="news-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
                      <span class="news-look"><a href="{:U('News/detail')}">点击查看</a></span>
                    </span>
                  </p>
                </li>
                <li> <span>3月2日</span>
                  <p>
                    <span class="news-one">
                      <img src="__PUBLIC__/Home/images/news-2.png" alt="">
                      <span class="news-title">引领未来塑料发展的几个趋势</span>
                      <span class="news-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
                      <span class="news-look"><a href="{:U('News/detail')}">点击查看</a></span>
                    </span>
                  </p>
                </li>
              </div>
              <div class="clearfix"></div>
            </ul>
          </div>
        </div>
        <script>
          $(function(){
            $('label').click(function(){
              $('.event_year>li').removeClass('current');
              $(this).parent('li').addClass('current');
              var year = $(this).attr('for');
              $('#'+year).parent().prevAll('div').slideUp(800);
              $('#'+year).parent().slideDown(800).nextAll('div').slideDown(800);
            });
          });
        </script>
     </div>
     <!-- 重大事件 -->
     <div class="col-md-3  important-event">
       <div class="event-header">
         重大事件
       </div>
       <div class="important-event-part">
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="detail.html">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
         <div class="event-one">
           <img src="__PUBLIC__/Home/images/news-1.png" alt="">
           <div class="event-one-bg">
             <p class="event-title">标题标题</p>
             <span class="event-words">新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要新闻概要</span>
             <p class="event-look"><a href="{:U('News/detail')}">点击查看</a></p>
           </div>
         </div>
       </div>
      <div class="event-footer">
           滑动查看更多
         </div>
       </div>
    </div>
   </div>
  </div>
  <!-- 底部板块 -->
<include file="Public:footer" />
