<include file="Public:header" />
<form class="J_ajaxForms" name="form" id="form" action="{:U('Adv/add')}" method="POST" enctype="multipart/form-data">
	<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="{:U('Adv/index')}">返回列表</a></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content  form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">图片主题</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control requireinput" value="">
                            </div>
                        </div>
										<div class="hr-line-dashed"></div>
												<div class="form-group">
														<label class="col-sm-2 control-label">商品链接</label>
														<div class="col-sm-10">
																<input type="text" name="url" class="form-control requireinput" value="">
														</div>
												</div>
										<div class="hr-line-dashed"></div>
												<div class="form-group">
															<label class="col-sm-2 control-label">上传图片</label>
																<div class="col-sm-10">
															<input type="file" name="img" value="">
													 </div>
												</div>
										<div class="hr-line-dashed"></div>
                        <div class="form-group">
                                <label class="col-sm-2 control-label">是否启用</label>
                                <div class="col-sm-10">
																  <input type="radio" name="status" value="1">启用&nbsp;&nbsp;
																	<input type="radio" name="status" value="0">不启用
                                </div>
                            </div>
                    <div class="hr-line-dashed"></div>
                	    <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="submit" class="btn btn-w-m btn-success" " />
                                <input type="reset" class="btn btn-w-m btn-default" " />
                                <!-- <button class="btn btn-white" type="reset">取消</button> -->
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>
<include file="Public:footer" />
