<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>诚心家品</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/cate.css">
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_403143_nbpgsnnn79tqpvi.css">
<script src="__PUBLIC__/Home/js/jquery-1.12.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.in_left').css({
    'color':'white',
    'background-color':'#00ccff',
  });
  $('.in_left p').css({
    'color':'white',
  });
    // 捕捉链接的点击事件
    // $('.sort').click(function(){
    //     // 取得要提交的参数
    //     var my_val = $(this).attr('data-id');
    //     // 取得要提交页面的URL
    //     var action = "{:U('Goods/index_city')}";
    //     // 创建Form
    //     var form = $('<form></form>');
    //     // 设置属性
    //     form.attr('action', action);
    //     form.attr('method', 'post');
    //     // form的target属性决定form在哪个页面提交
    //     // _self -> 当前页面 _blank -> 新页面
    //     form.attr('target', '_self');
    //     // 创建Input
    //     var my_input = $('<input type="text" name="sort_type" />');
    //     my_input.attr('value', my_val);
    //     // 附加到Form
    //     form.append(my_input);
    //     // 提交表单
    //     form.submit();
    //     // 注意return false取消链接的默认动作
    //     return false;
    });
  });
</script>
</head>
<body>
<!--该盒子一直包括到店长推荐-->
<script>
$("body").css({background:"#f4f4f4"})
</script>
<div class="width100 hidden bj_fff" style="">
	<!--搜索框-->
	<div class="width100 hidden bj_fff" style="height:3rem;background-color:#00ccff;">
		<div class="title">
			<div class="title_left">
        <a href="javascript:history.go(-1);">
          <img src="__PUBLIC__/Home/images/return.png" alt="">
        </a>
			</div>
			<div class="title_right">
				<p>{$name}</p>
			</div>
		</div>
	</div>
  <!-- 筛选 -->
  <!-- <div class="choose">
    <div class="choose_in">
        <div data-id="1" class="in_left sort" >
          <p>销量</p>
        </div>
        <div data-id="2" class="in_right sort" >
          <p>人气</p>
        </div>
    </div>
  </div> -->
  <if condition=" $list eq ''">
    <div style="text-align:center;background-color:#f4f4f4;">
      <img src="__PUBLIC__/Home/images/no_goods.png" alt="没有更多商品" style="margin:0 auto;width:30%;">
    </div>
  </if>
<!-- 商品列表开始 -->
<foreach name="list" item="list">
<div class="one">
  <div class="one_left">
    <img src="__ROOT__/Uploads/{$list.img}" alt="{$list.name}">
  </div>
  <a href="{:U('Goods/detail',array('gid'=>$list['id']))}" style="color: black;">
    <div class="one_right">
      <p class="p_1">{$list.name}</p>
      <p class="p_2">￥{$list.price}</p>
      <p class="p_3">最近售出：{$list.sale_num}</p>
      <img src="__PUBLIC__/Home/images/decoration_1.png" alt="水果类">
    </div>
  </a>
</div>
</foreach>

</div>

<div id="footer">
	<a href="{:U('Index/index')}" class="on">
    	<p >
				<i>
					<img src="__PUBLIC__/Home/images/bot_1_s.png" alt="" >
				</i>
			</p>
        <span style="color:black">首页</span>
    </a>
    <a href="{:U('Article/index')}">
    	<p>
				<i>
					<img src="__PUBLIC__/Home/images/health.png" alt="" >
				</i>
			</p>
        <span>健康</span>
    </a>
    <a href="{:U('Cart/index')}">
			<p >
				<i>
					<img src="__PUBLIC__/Home/images/bot_3.png" alt="" >
				</i>
			</p>
        <span>购物车</span>
    </a>
    <a href="{:U('User/index')}">
			<p >
				<i>
					<img src="__PUBLIC__/Home/images/bot_4.png" alt="" >
				</i>
			</p>
        <span>我的</span>
    </a>
</div>
</body>

</html>
