<include file="Public:header" />

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">月</span>
                        <h5>管理员邮箱</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">869184782@qq.com</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>其他</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="feed-activity-list">
                            <div class="feed-element">
                                <div>
                                    <small class="pull-right text-navy"></small>
                                    <strong>ZABBIX</strong>
                                    <div>企业服务器监控</div>
                                    <small class="text-muted"></small>
                                </div>
                            </div>
                            <div class="feed-element">
                                <div>
                                    <small class="pull-right"></small>
                                    <strong>站长统计</strong>
                                    <div>百度站长统计</div>
                                    <small class="text-muted"></small>
                                </div>
                            </div>
                            <div class="feed-element">
                                <div>
                                    <small class="pull-right"></small>
                                    <strong>Locust</strong>
                                    <div>Web服务性能测试</div>
                                    <small class="text-muted"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<include file="Public:footer" />
