@charset "utf-8";
*{scrollbar-3dlight-color:#D4D0C8;
   scrollbar-highlight-color:#fff;
   scrollbar-face-color:#E4E4E4;
   scrollbar-arrow-color:#666;
   scrollbar-shadow-color:#808080;
   scrollbar-darkshadow-color:#D7DCE0;
   scrollbar-base-color:#D7DCE0;
   scrollbar-track-color:#;
}
html{height:100%;}
body{padding:5px;margin:0;font-family:"宋体",Arial Narrow,Arial,serif;background:#ffffff;font-size:12px; height:100%;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
table{margin:0 auto;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}   
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:12px;font-weight:normal;}   
q:before,q:after {content:'';}   
abbr,acronym {border:0;}
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;}   
a{color:#3B5999;text-decoration:none;}
a:hover{ text-decoration:underline;}


.lfy-body{width:100%; height:98%; position:relative;}
.lfy-body .fb-title{height:35px; background:none;position:absolute; top:0; left:0; z-index:2;}
.lfy-body .fb-title div{height:35px; background:none }
.lfy-body .fb-title p{height:35px; padding:0 12px; display:block;} 
.lfy-body .fb-title span{display:block; height:35px; color:#1E325C; padding:0 0 0 0px;font-weight:bold;font-size: 14px;;line-height:38px;_line-height:40px; overflow:hidden;} 
.lfy-body .fb-body{position:absolute; top:0; left:0; z-index:1; width:100%; height:100%;}
.lfy-body .body-table{width:100%; background:#9CB8CC; height:100%;}
.lfy-body .body-table-td{background:#fff; vertical-align:top;}
.lfy-body .body-table-div{width:100%; height:auto; min-height:400px; overflow:hidden; overflow-y:auto; float:left; margin:34px 0 0 0;}

.table-tootip{margin:100px auto 0 auto;}
.table-tootip th{padding:20px;}
.table-tootip td{padding:20px 20px 20px 0;}
.table-tootip p{line-height:1.5em;}
.table-tootip-success{border:solid 1px #006f36;}
.table-tootip-error{border:solid 1px #9f1017;}