<include file="Public:header" title="$msgTitle" />

    <div class="middle-box text-center animated fadeInDown">
        <h2>{$msgTitle}</h2>
        <h3 class="font-bold">{$error}</h3>
        <div class="error-desc">
            
                               服务器好像出错了...
           <notpresent name="closeWin" >
            <br/>系统将在 <strong style="color:blue;" class="wait-second">{$waitSecond}</strong> 秒后自动返回
            <p><a href="<?php echo($jumpUrl); ?>" class="btn btn-primary m-t">返回</a></p>
           </notpresent>
        </div>
    </div>
<script type="text/javascript">
<if condition="$jumpUrl neq ''">
var timeout = 0;
var waitSecond = parseInt({$waitSecond});
var refreshFun = function(){
	timeout++;
	if(waitSecond <= timeout)
		location.href = "{$jumpUrl}";
	else
	{
		$('.wait-second').html(waitSecond - timeout);
		setTimeout(refreshFun,1000);
	}
};
setTimeout(refreshFun,1000);
</if>
</script>
<include file="Public:footer" />


