<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>弘利网站登陆后台</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/stars/css/normalize.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/stars/css/demo.css" />
<!--必要样式-->
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/stars/css/component.css" />
<!--[if IE]>
<script src="js/html5.js"></script>
<![endif]-->
</head>
<style>
  button{
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
  }
  .mb2{
    text-align: center;
  }
</style>
<body>
<div class="container demo-1">
	<div class="content">
		<div id="large-header" class="large-header">
			<canvas id="demo-canvas"></canvas>
			<div class="logo_box">
        <h1 style="text-align:center">弘利后台管理系统</h1>
				<h3 style="color:white;">欢迎登录</h3>
				<form action="{:U('Public/checklogin')}" name="f" method="post">
					<div class="input_outer">
						<span class="u_user"></span>
						<input name="username" class="text" style="color: black !important" type="text" placeholder="请输入管理员名称">
					</div>
					<div class="input_outer">
						<span class="us_uer"></span>
						<input name="password" class="text" style="color: black !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码">
					</div>
					<div class="mb2">
            <div class="dl">
              <button type="submit" name="button">登陆</button>
            </div>
          </div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/Admin/stars/js/TweenLite.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/stars/js/EasePack.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/stars/js/rAF.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/stars/js/demo-1.js"></script>
</body>
</html>
