<include file="Public:header" />
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            <div class="btn btn-success">
                              <a href="{:U('Rule/add_admin')}" style="color:white;"><span class="bold">新增</span></a>
                            </div>

                            </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <!-- addData_attribute:{$Think.lang.ADD}:id, -->
                        <table class="table">
                          <tread>
                            <tr width="100%">
                              <!-- <th width="5%">编号</th> -->
                              <th width="25%">用户名</th>
                              <th width="25%">用户组</th>
                              <th width="20%">操作</th>
                            </tr>
                          </tread>
                          <tbody>
                            <foreach name="data" item="v">
                                <tr>
                                  <!-- <td>{$vo.id}</td> -->
                                  <td>{$v.username}</td>
                                  <td>{$v.title}</td>
                                  <!-- <td><if condition="$vo[status] eq 1">启用<else condition="$vo[status] eq 0" />禁用</if> </td> -->
                                  <!-- 用[] -->
                                  <td>
                                    <a href="{:U('Admin/Rule/edit_admin',array('id'=>$v['id']))}">修改权限或密码</a>
                                  </td>
                                </tr>
                          </foreach>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
	<div class="pager">{$page}</div>
</div>
<include file="Public:footer"/>
