
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>诚心家品</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/promotion.css">
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_403143_nbpgsnnn79tqpvi.css">
<script src="__PUBLIC__/Home/js/jquery-1.12.1.min.js"></script>
<script src="__PUBLIC__/Home/js/jquery.lazyload.min.js"></script>
<script type="text/javascript">
//基础函数
		//白字蓝底
		function color_white(node){
			$(node).css({
				'color':'white',
				'background-color':'#00ccff',
			});
		}
		//蓝字白底
		function color_blue(node){
			$(node).css({
				'color':'#00ccff',
				'background-color':'white',
			});
		}
// 内容切换
		function nr(){
			$('.content').css('display','block');
				color_blue('.in_mid');
				color_white('.in_left');
			$('.comment').css('display','none');
		}
		function pj(){
			$('.content').css('display','none');
				color_white('.in_mid');
				color_blue('.in_left');
			$('.comment').css('display','block');
		}

    $(function(){
			//查看是否收藏
			var is_collect=$('#is_collect').attr('data-id');
			if(is_collect==1){
				color_white('#sc');
				$('#sc_words').html(
					'已收藏'
				);
			}else{
				color_blue('#sc');
				$('#sc_words').html(
					'收藏'
				);
			}
			//收藏事件
      $('#sc').click(function(){

          var gid=$(this).attr('data-id');
          var data={
            gid:gid
          };
          $.ajax({
            url:"{:U('Goods/collect_add')}",
            type:"post",
            data:data,
            success:function(data){
              // window.clearInterval(timer);
							if(data==1){
								window.location.href="{:U('User/index')}";
							}else {
								if(data==2){
									$('#sc').css({
										'background-color':'white',
										'color':'#00ccff',
									});
									$('#sc_words').html(
										'收藏'
									);
								}else if(data==3){
									color_white('#sc');
									$('#sc_words').html(
										'已收藏'
									);
								}else{
									alert(data);
								}
							}
            },
            error:function(){
              alert('请求失败');
            }
          });
      });
			// 购物车js
			$('#add_goods').click(function(){
				var goodid = $(this).attr('data-id');
				var num = 1;
				var addCart="{:U('Cart/addCart')}";
				// var urlCart = "{:U('Cart/index')}";
				if(goodid != undefined){
						$.ajax({
							url:addCart,
							type:"post",
							data:{pid :goodid,num:num},
							datatype:'json',
							success:function(data){
								if (data.status==1) {
									layer.msg('添加成功');
								}
								if (data.status==0) {
									layer.msg('添加失败');
								}
							},
							error:function(){
								layer.msg('服务器开小差了~');
							}
						});
					}
			});

		});
</script>
<style media="screen">
	img{
		width: 100%;
	}
</style>
</head>

<body>
<!--该盒子一直包括到店长推荐-->
<script>
$("body").css({background:"#f4f4f4"})
</script>
<div class="width100 hidden bj_fff" style="">
	<!--搜索框-->
	<div class="width100 hidden bj_fff" style="height:50px;background-color:#00ccff;">
		<div class="title">
			<div class="title_left">
        <a href="javascript:history.go(-1);">
          <img src="__PUBLIC__/Home/images/return.png" alt="">
        </a>
			</div>
			<div class="title_right">
				<p>促销活动</p>
			</div>
		</div>
	</div>
  <!-- 商品图片 -->
  <div class="goods_img">
    <img src="__ROOT__/Uploads/{$list.img}" alt="" style="width:100%;">
  </div>
  <!-- 筛选 -->
  <div class="choose">
    <div class="choose_in">
			<div class="in_left" onclick="nr();">
        <p>内容</p>
      </div>
      <div class="in_mid" onclick="pj();">
        <p>评价</p>
      </div>
			<div id="sc" data-id="{$list.id}" class="in_right">
        <p id="sc_words">收藏</p>
				<span id="is_collect" data-id="{$is_collect}" style="display:none;"></span>
      </div>
    </div>
  </div>
<!-- 商品详细开始 -->
<div class="content">
	<div class="container">
		<div class="section_1">
			<p class="p_1">{$list.name}</p>
			<p class="p_2">{$list.title}</p>
			<p class="p_2">{$list.instruction}</p>
			<p class="p_3">现价：￥{$list.now_price}</p>
			<p class="p_4">售价￥{$list.price}</p>
			<p class="p_4" style="margin-left:1rem;">市场价￥{$list.market_price}</p>
		</div>
		<div class="section_2">
			<p class="p_5">起销量(pcs)：{$list.sale_way_name}</p>
			<p class="p_6">价格：￥{$list.price}</p>
		</div>
	</div>
	<!-- 按钮 -->
	<div class="btn">
		<!-- <div class="btn_l">
			<p>加入购物车</p>
		</div> -->
		<div class="btn_r">
			<a href="{:U('Goods/buy_now',array('id'=>$list['id']))}" style="color:white;">
				<p>立即购买</p>
			</a>
		</div>
	</div>
	<div id="detail" style="margin-bottom:3rem;">
			<img src="__PUBLIC__/Home/images/detail.jpg" alt="">
		{$str}
	</div>
</div>
<!-- 评价 -->
<div class="comment">
	<foreach name="comment_list" item="cl">
		<div class="comment_one">
			<div class="top">
					<div class="top_left">
						<img src="__ROOT__/Uploads/{$cl.user_img}" alt="">
					</div>
					<div class="top_right">
						<p style="font-size:16px">{$cl.uname}</p>
						<!-- <p>购买了5箱苹果</p> -->
						<p style="font-size:14px; color:#7d7878">{$cl.create_time|date="Y-m-d",###}</p>
					</div>
			</div>
			<div class="bottom">
				<if condition="$cl['content'] eq ''">
					<p style="font-size:14px">该用户还没有评价</p>
					<else/>
					<p style="font-size:14px">{$cl.content}</p>
				</if>
			</div>
		</div>
		</foreach>
</div>
</div>

<div id="footer">
	<a href="{:U('Index/index')}" class="on">
    	<p >
				<i>
					<img src="__PUBLIC__/Home/images/bot_1_s.png" alt="" >
				</i>
			</p>
        <span style="color:black">首页</span>
    </a>
    <a href="{:U('Article/index')}">
    	<p>
				<i>
					<img src="__PUBLIC__/Home/images/health.png" alt="" >
				</i>
			</p>
        <span>健康</span>
    </a>
    <a href="{:U('Cart/index')}">
			<p >
				<i>
					<img src="__PUBLIC__/Home/images/bot_3.png" alt="" >
				</i>
			</p>
        <span>购物车</span>
    </a>
    <a href="{:U('User/index')}">
			<p >
				<i>
					<img src="__PUBLIC__/Home/images/bot_4.png" alt="" >
				</i>
			</p>
        <span>我的</span>
    </a>
</div>
<script type="text/javascript">
	$('.comment_one:last').css({
		'margin-bottom':'5rem',
	});
</script>
</body>

</html>
