
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>诚心家品</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/supplier_detail.css">
<script src="__PUBLIC__/Home/js/jquery-1.12.1.min.js"></script>
<script type="text/javascript">
  $(function(){
    $('.in_left').click(function(){
      $('.jianjie').show();
      $('.lianxi').hide();
      $('.in_left').css({
        'color':'white',
        'background-color':'#00ccff',
      });
      $('.in_right').css({
        'color':'#00ccff',
        'background-color':'white',
      });
    });
    $('.in_right').click(function(){
      $('.jianjie').hide();
      $('.lianxi').show();
      $('.in_right').css({
        'color':'white',
        'background-color':'#00ccff',
      });
      $('.in_left').css({
        'color':'#00ccff',
        'background-color':'white',
      });
    });
  });
</script>
</head>
<body>
<!--该盒子一直包括到店长推荐-->
<div class="width100 hidden bj_fff" style="">
	<!--搜索框-->
	<div class="width100 hidden bj_fff" style="height:3rem;background-color:#00ccff;">
		<div class="title">
			<div class="title_left">
        <a href="javascript:history.go(-1);">
          <img src="__PUBLIC__/Home/images/return.png" alt="">
        </a>
			</div>
			<div class="title_right">
				<p>详情</p>
			</div>
		</div>
	</div>
<!-- 上部 -->
<div class="one">
  <div class="one_left">
    <img src="__ROOT__/Uploads/{$arr[2]}" alt="" style="width:5rem;margin-left:1rem;">
  </div>
    <div class="one_right">
      <p class="p_1">{$detail.company_name}</p>
      <p class="p_3">{$detail.address}</p>
    </div>
</div>
<!-- 筛选 -->
<div class="choose">
  <div class="choose_in">
    <div class="in_left" >
      <p>简介</p>
    </div>
    <div class="in_right">
      <p>联系</p>
    </div>
  </div>
</div>
<div class="img">
  <img src="__ROOT__/Uploads/{$arr[3]}" alt="">
</div>
<div class="lianxi">
  <!-- 公司信息 -->
  <div class="info">
    <p class="p_4">公司</p>
    <p class="p_5">{$detail.company_name}</p>
  </div>
  <div class="info">
    <p class="p_4">负责人</p>
    <p class="p_5">{$detail.leader}</p>
  </div>
  <div class="info">
    <p class="p_4">手机</p>
    <p class="p_5">{$detail.tel}</p>
  </div>
  <div class="info">
    <p class="p_4">地址</p>
    <p class="p_5">{$detail.address}</p>
  </div>
</div>
<div class="jianjie">
  <div class="article">
    <p>{$detail.content}</p>
  </div>
</div>
</div>
</body>

</html>
