<div id="footer">
	<a href="index.html" class="on">
    	<p >
				<i>
					<img src="images/bot_1.png" alt="" >
				</i>
			</p>
        <span style="color:#00ccff">首页</span>
    </a>
    <a href="{:U('Article/index')}">
    	<p>
				<i>
					<img src="images/health.png" alt="" >
				</i>
			</p>
        <span>健康</span>
    </a>
    <a href="{:U('Cart/index')}">
			<p >
				<i>
					<img src="images/bot_3.png" alt="" >
				</i>
			</p>
        <span>购物车</span>
    </a>
    <a href="usercenter.html">
			<p >
				<i>
					<img src="images/bot_4.png" alt="" >
				</i>
			</p>
        <span>我的</span>
    </a>
</div>
