<!-- 底部板块 -->
<div class="container-fluid">
  <div class="container">
    <div class="row" style="margin-bottom:20px;">
      <div class="col-md-3 col-sm-6 col-xs-6 footer-1-words" >
        <h3>加盟与合作</h3>
        <li><span class="glyphicon glyphicon-hand-right"></span> 诚邀加盟</li>
        <li><span class="glyphicon glyphicon-hand-right"></span> 企业官网</li>
        <li><span class="glyphicon glyphicon-hand-right"></span> 使用行业</li>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 footer-1-words" >
        <h3>服务与技术</h3>
        <li><span class="glyphicon glyphicon-hand-right"></span> 注销服务</li>
        <li><span class="glyphicon glyphicon-hand-right"></span> 跟踪服务</li>
        <li><span class="glyphicon glyphicon-hand-right"></span> 疑难解答</li>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 footer-1-words">
        <h3>招聘岗位</h3>
        <foreach name="employ" item="e_l">
          <li><span class="glyphicon glyphicon-hand-right"></span><a href="{:U('Employ/detail',array('id'=>$e_l[id]))}" class="a_link" style="color:white;">{$e_l.name}</a></li>
        </foreach>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 footer-1-words" >
        <h3>认证标准</h3>
        <li><span class="glyphicon glyphicon-hand-right"></span> LA</li>
        <li><span class="glyphicon glyphicon-hand-right"></span> ISO9000</li>
        <li><span class="glyphicon glyphicon-hand-right"></span> GB2826-2006</li>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer-2">
    地址：辽宁省&nbsp;沈阳市于洪区洪湖北街102-47号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;辽ICP备xxxxxxx号 Copyright@2018 . All rights reserved.
</div>
</body>
<script type="text/javascript">
$('.line').last().css(
  'border','none');
  $('.hl_active').css(
    'background-color','#176ed5');
</script>
</html>
