<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>沈阳弘利科技有限公司</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <link rel="stylesheet" href="__PUBLIC__/Home/css/video-js.css"> -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style2.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/default.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/init.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap-theme.min.css"> -->
    <!-- 自定义css样式 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/index.css">
    <script src="__PUBLIC__/Home/js/jquery.min.js" charset="utf-8"></script>
    <script src="__PUBLIC__/Home/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="__PUBLIC__/Home/js/index.js" charset="utf-8"></script>
  </head>
  <body>
    <!-- 公司logo和客服电话 -->
    <div class="container">
      <div class="header">
        <div class="row">
          <div class="">
            <img src="__PUBLIC__/Home/images/logo.png" alt="沈阳弘利科技有限公司" id="logo1">
          </div>
          <div class="">
            <img src="__PUBLIC__/Home/images/kefu.png" alt="客服电话" id="kefu-tel">
          </div>
        </div>
      </div>
    </div>
    <!-- 导航条 -->
      <nav class="navbar navbar-default" style="text-align:center;">
        <div class="container-fluid">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color: white"></span>
                <span class="icon-bar" style="background-color: white"></span>
                <span class="icon-bar" style="background-color: white"></span>
              </button>
              <a class="navbar-brand" href="#" style="color:white;">沈阳弘利科技有限公司</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="{:U('Index/index')}" <php>if($name=='index') echo 'class="hl_active"';</php>>网站首页</a></li>
                <li><a href="{:U('Index/introduction')}" <php>if($name=='introduction') echo 'class="hl_active"';</php>>公司简介</a></li>
                <li><a href="{:U('Product/index')}" <php>if($name=='product') echo 'class="hl_active"';</php>>主营产品</a></li>
                <li><a href="{:U('News/index')}" <php>if($name=='news') echo 'class="hl_active"';</php>>新闻动态</a></li>
                <li><a href="{:U('Index/successplan')}" <php>if($name=='successplan') echo 'class="hl_active"';</php>>成功案例</a></li>
                <li><a href="{:U('Index/employ')}" <php>if($name=='employ') echo 'class="hl_active"';</php>>招聘英才</a></li>
                <li><a href="{:U('Index/contactus')}" <php>if($name=='contactus') echo 'class="hl_active"';</php>>联系我们</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div>
        </div><!-- /.container-fluid -->
      </nav>
