<include file="Public:header" />
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>数据库操作</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                      <div class="btn btn-w-m btn-success">
                        <a href="{:U('Db/db_backup')}" style="color:white;">数据库备份</a>
                      </div>
                      <p>(mysql有密码就可以实现)</p>
                    </div>
                </div>
            </div>
        </div>
</div>
<include file="Public:footer" />
