<include file="Public:header" />
    <!-- 导航条结束 -->
    <!-- 联系我们 -->
    <div class="container-fluid contactus-bg">
      <div class="container-fluid contactus-content">
        <div class="col-md-12">
          <p class="title-contactus-one">联系我们</p>
          <span class="title-contactus-two">contact us</span>
            <div class="contactus-span1">
              <span>
                <img src="__PUBLIC__/Home/images/contactus-icon-1.png" alt="电话">
              </span>
              <a href="tel:024-81083610" style="color:#666;">
                <span>Tel:024-81083610</span>
              </a>
            </div>
            <div class="contactus-span2">
              <span>
                <img src="__PUBLIC__/Home/images/contactus-icon-2.png" alt="地址">
              </span>
              <span>Add:沈阳市于洪区洪湖北街102-47号</span>
            </div>
        </div>
      </div>
    </div>
    <!-- 底部板块 -->
<include file="Public:footer" />
