<include file="Public:header" />
      <!-- 导航条结束 -->
      <!-- 轮播图 -->
      <section class="cd-hero">
        <ul class="cd-hero-slider">
          <li class="selected">
            <img src="__PUBLIC__/Home/images/eg1.jpg" alt="产品详情" class="lunbo">
          </li>
          <li>
            <img src="__PUBLIC__/Home/images/eg2.jpg" alt="产品详情" class="lunbo">
          </li>
          <li>
              <img src="__PUBLIC__/Home/images/eg3.jpg" alt="办公环境" class="lunbo">
          </li>
        </ul> <!-- .cd-hero-slider -->
        <div class="cd-slider-nav">
          <nav>
            <span class="cd-marker item-1"></span>
            <ul>
              <li class="selected"><a href="#0" class="banner-product">产品介绍</a></li>
              <li><a href="#0" class="banner-eq">设备介绍</a></li>
              <li><a href="#0" class="banner-work">办公环境</a></li>
            </ul>
          </nav>
        </div> <!-- .cd-slider-nav -->
      </section> <!-- .cd-hero -->
    <script src="__PUBLIC__/Home/js/main.js"></script> <!-- Resource jQuery -->
    <!-- 轮播图结束 -->
    <!-- 主要版块 -->
    <div class="container">
      <div class="row">
        <!-- 关于我们 -->
        <div class="col-md-3 aboutus">
          <div class="aboutus-header">
            <span class="title">
              关于我们
            </span>
            <span class="title-eng">
              /about us
            </span>
          </div>
          <div class="aboutus-img">
            <img src="__PUBLIC__/Home/images/aboutus.png" alt="关于我们">
          </div>
          <p class="aboutus-introduction">
            <span class="title-two">企业文化：企业携手员工，同心共赢齐发展</span>
            <span></span>
          </p>
          <p class="aboutus-introduction">
            <span class="title-two">工作理念：为顾客所思，为顾客所想</span>
            <span></span>
          </p>
          <p class="aboutus-introduction" style="margin-bottom:30px;">
            <span class="title-two">竞争理念：没有忧患意识，就是忧患</span>
            <span></span>
          </p >
        </div>
        <!-- 新闻动态 -->
        <div class="col-md-5 news">
          <div class="news-header">
            <span class="title">
              新闻动态
            </span>
            <span class="title-eng">
              /news information
            </span>
          </div>
          <foreach name="news" item="vo">
            <div class="news-single">
              <p class="title-two-news">{$vo.title}({$vo.create_time|date="m月d日",###})</p>
              <p class="title-two-news-word">{$vo.main}</p>
            </div>
            <div class="line"></div>
          </foreach>
        </div>
        <!-- 图片轮播 -->
        <div class="col-md-4 photo">
          <video class="covervid-video" autoplay loop id="video" style="width:100%;margin-top: 10%;">
             <source src="__PUBLIC__/Home/video/view.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="row">
        <!-- 产品展示 -->
        <div class="col-md-8 productshow">
          <div class="productshow-header">
            <span class="title">
              产品展示
            </span>
            <span class="title-eng">
              /product display
            </span>
          </div>
          		<div class="container lunbo2">
          		  <div id="single" class="carousel slide" data-ride="carousel" data-shift="1">
          		    <div class="carousel-inner">
          		      <ul class="row item active">
          		        <li class="col-md-4 one">
          		          <img src="__PUBLIC__/Home/images/product_1.png"  >
          		        </li>
          		        <li class="col-md-4 two">
          		          <img src="__PUBLIC__/Home/images/product_2.png"  >
          		        </li>
          		        <li class="col-md-4 three">
          		          <img src="__PUBLIC__/Home/images/product_3.png"  >
          		        </li>
          		      </ul>
          		      <ul class="row item">
          		        <li class="col-md-4 four">
          		          <img src="__PUBLIC__/Home/images/product_1.png"  >
          		        </li>
          		        <li class="col-md-4 five">
          		          <img src="__PUBLIC__/Home/images/product_2.png"  >
          		        </li>
          		        <li class="col-md-4 six">
          		          <img src="__PUBLIC__/Home/images/product_3.png"  >
          		        </li>
          		      </ul>
          		    </div>
          		    <a class="carousel-control left" href="#single" data-slide="prev" style="background-image: none!important;"></a>
          		    <a class="carousel-control right" href="#single" data-slide="next" style="background-image: none!important;"></a>
          		  </div>
          		</div>
        </div>
        <!-- 联系我们 -->
        <div class="col-md-4 contactus">
          <div class="contactus-header">
            <span class="title">
              联系我们
            </span>
            <span class="title-eng">
              /contact us
            </span>
          </div>
          <div class="contactus-img">
            <img src="__PUBLIC__/Home/images/contactus.png" alt="联系我们">
          </div>
          <p class="title-two-contactus" style="margin-top:10px;">
            <span class="title-two">公司地址：辽宁省沈阳市于洪区洪湖北街</span>
            <span></span>
          </p>
          <p class="title-two-contactus">
            <span class="title-two">联系电话：024-81083610</span>
            <span></span>
          </p>
          <p class="title-two-contactus">
            <span class="title-two">公司传真：</span>
            <span></span>
          </p >
          <p style="margin-bottom:30px;">
            <span class="title-two">公司邮箱：</span>
            <span></span>
          </p >
        </div>
      </div>
      <div class="row">
        <!-- 服务流程 -->
        <div class="col-md-12 serviceflow">
          <div class="serviceflow-header">
            <span class="title">
              服务流程
            </span>
            <span class="title-eng">
              /service flow
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- 主要版块结束 -->
<include file="Public:footer" />
