<include file="Public:header" />
    <!-- 导航条结束 -->
    <!-- 公司介绍 -->
    <div class="container-fluid introduction-bg">
      <div class="container introduction-content">
        <div class="row introduction-row">
          <div class="col-md-9" style="text-align:left;margin-top:30px;">
            <div class="introduction-header">
              <span class="title" style="border-bottom:5px solid #36acff">
                公司简介
              </span>
              <span class="title-eng">
                /company profile
              </span>
            </div>
            <div class="title-two-introduction-word">
              <p>
                沈阳弘利科技有限公司位于辽宁省沈阳市于洪区洪湖北街，南邻沈大路和地铁1号线迎宾路站，西临京哈高速公路，北临于洪机场，东临铁西森林公园，地理位置优越，交通便捷。
              </p>
              <p>
                沈阳弘利科技有限公司是一家专业制造各种塑料产品的厂家，提供从产品设计、研发到注塑生产一条龙服务。对各种注塑件有着丰富的加工经验，定做和加工各种塑料制品。产品涉及到电子、五金电工、劳保、医疗、家居、办公等行业。
              </p>
              <p>
                本公司引进现代企业管理理念，引用现代化科学的生产技术和生产工艺，设备先进，技术力量庞大 ，质量稳定，可根据客户要求定制各种规格样式的产品。公司拥有多台国内知名品牌全自动注塑机，具有一定的加工能力。
              </p>
                <p>公司从原材料进厂到生产各个工序及产品入库、发出都进行严格检验，质量层层把关，做到一丝不苟，严控质量关。</p>
              <p>
                质量方针：“诚信至上，满足客户；过程控制，品质优良；遵守法规，预防污染；节能降耗，清洁生产。”以质量求生存， 以品质求发展，以质量建立诚信。
              </p>
              <p>
                企业文化：企业携手员工，同心共赢齐发展
              </p>
              <p>
                工作理念：为顾客所思，为顾客所想
              </p>
              <p>
                竞争理念：没有忧患意识，就是忧患
              </p>
              <p>
                人才理念：人尽其才，才尽其用市场理念：态度决定市场
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="introduction-header" style="text-align:right;margin-top:30px;">
              <span class="samll-title">
                · 首页 > 公司简介
              </span>
              <div class="">
                <img src="__PUBLIC__/Home/images/introduction_1.png" alt="公司介绍" class="small-title-img">
                <img src="__PUBLIC__/Home/images/introduction_2.png" alt="公司介绍" class="small-title-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部板块 -->
<include file="Public:footer" />
