<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>一键下单</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/quickorder.css">
    <style media="screen">
    a{
      -webkit-tap-highlight-color:transparent;
    }
    </style>
    <script src="__PUBLIC__/Home/js/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript">
    $(function(){
      var status=$('#code').attr('data-id');
      if (status=='1') {
        alert('提交成功！');
      }
    })
    //清空input文本框
    function clear(){
      $('input').val("");
    }
    //提交事件
      function sm(){
        var name=$('#name').val();
        var tel=$('#tel').val();
        var reg=/^([\u4E00-\u9FA5]+|[a-zA-Z]+)$/;   //姓名验证
        var regtel=/^1[34578]\d{9}$/;              //验证银行卡号
        if(!reg.test(name)){
          alert('请输入正确姓名');
          clear();
        }else if(regtel.test(tel)=== false){
            alert("请输入正确电话号码");
            $('#tel').val("");
            return  false;
        }else if($('#address').val()==''){
          alert('请填写地址');
        }else if($('#content').val()==''){
          alert('请填写问题');
        }else{
          $('#form').submit();
        }
    }
    //服务种类赋值
    function recover(){
      $('#img_1').hide();
      $('#img_2').show();
      $('#img_3').show();
      $('#img_4').hide();
      var data=$('.recover').attr('data-id');
      $('#service').val(data);
    }
    function repair(){
      $('#img_1').show();
      $('#img_2').hide();
      $('#img_3').hide();
      $('#img_4').show();
      var data=$('.repair').attr('data-id');
      $('#service').val(data);
    }
    </script>
</head>
<body>
<form method="post" id="form" action="{:U('Index/quickorder')}">
    <div id="all">
      <div id="title">
        <div id="zuojianjiao">
          <p style="line-height:128px;">
            <a href="{:U('Index/index')}">
              <img src="__PUBLIC__/Home/img/qietu/secondphonerecover/second_01.jpg" style="margin-left:1rem;">
            </a>
          </p>
        </div>
        <div>
          <p style="line-height:128px;">
            一键下单
          </p>
        </div>
      </div>
        <!------------------------------->
        <div class="password">
            <p class="info">联系人</p>
            <input id="name" type="text" name="uname" placeholder="您的姓名">
        </div>
        <div class="password">
            <p class="info">联系电话</p>
            <input id="tel" type="text" name="tel" placeholder="您的手机号码">
        </div>
        <div class="password">
            <p class="info">地址</p>
            <input id="address" type="text" name="address" placeholder="请填写详细地址、街道、楼牌号等">
        </div>
        <div class="password">
            <p class="info">服务选择</p>
            <div class="recover" data-id="2" onclick="recover();">
              <span class="img_in" style="margin-left:3rem;">
                <img id="img_1" src="__PUBLIC__/Home/img/true.png" alt="" style="width:3rem;height:3rem;">
                <img id="img_2" src="__PUBLIC__/Home/img/true_on.png" alt="" style="width:3rem;height:3rem;display:none;">
              </span>
              <p class="p_in">手机回收</p>
            </div>
            <div class="repair" data-id="1" onclick="repair();">
              <span class="img_in" style="margin-left:3rem;" >
                <img id="img_3" src="__PUBLIC__/Home/img/true.png" alt="" style="width:3rem;height:3rem;">
                <img id="img_4" src="__PUBLIC__/Home/img/true_on.png" alt="" style="width:3rem;height:3rem;display:none;">
              </span>
              <p class="p_in">手机维修</p>
            </div>
            <input id="service" type="text" name="service" value="" style="display:none;">
        </div>
        <div class="password">
            <p class="info">手机问题</p>
            <input id="content" type="text" name="content" placeholder="请填写您手机的具体问题">
        </div>
        <div class="button">
            <a onclick="sm();">一键下单</a>
        </div>
        <div id="code" data-id="{$status}">
        </div>
    </div>
</form>
</body>
</html>
