<include file="Public:header" />    <!-- 导航条结束 -->
    <!-- 公司介绍 -->
    <div class="container">
      <div class="container-fluid successplan-content">
        <div class="row successplan-row">
          <div class="col-md-11" style="text-align:left;margin-top:30px;">
            <!-- 案例header -->
            <div class="successplan-header">
              <span class="success-title">
                成功案例
              </span>
              <span class="title-eng">
                /successful cases
              </span>
              <span class="success-small-title" >
                · 首页 > 成功案例
              </span>
            </div>
            <!-- 具体案例内容 -->
            <div class="success-one">
              <div class="success-line">
                <p class="part-title-1">案例一/case1</p>
              </div>
              <div class="success-part-1">
                <p class="part-title">同某公司合作</p>
                <p class="part-words">
                  弘利科技有限公司成立以来，精准定位用户课表，开拓区域市场，经过不懈的努力和技术攻关，终于获得了某集团公司的青睐，成为其人体健康辅助用品塑料件的指定供应商。这家公司是我国仅有的两家能够生产最高等级人体健康辅助器具企业之一，其产品行销国内，广受赞誉，同普通的民用级产品不同，其对产品的设计要求，材质要求非常高，所用塑料配件的加工精度、一致性、耐候性、成品率等指标远高于同类产品。企业长期为寻找质量稳定的塑料件供应商而困扰，为达工艺标准标准需依赖珠三角的供应商，在成本和库存方面做出妥协，弘利科技迎难而上，组织资源倾力开发，出符合其公司要求的多种塑料配件，以优异的价格质量和服务水平赢得了长期的供应合同。一年来，弘利公司已经完成订单200余万元，客户反应良好，无一次质量问题，无一次责任退货。同时公司提升了研发水平搭建了开发团队
                  ，实现了生产能力的飞跃。</p>
              </div>
              <div class="success-part-2">
                <p class="part-title">产品图片</p>
                <div class="part-img">
                  <img src="__PUBLIC__/Home/images/success_1.png" alt="" class="part-img-1">
                  <img src="__PUBLIC__/Home/images/success_2.png" alt="" class="part-img-1">
                  <img src="__PUBLIC__/Home/images/success_3.png" alt="" class="part-img-1">
                  <img src="__PUBLIC__/Home/images/success_4.png" alt="" class="part-img-1">
                </div>
                <p class="part-words"></p>
              </div>
              <div class="success-part-3">
                <p class="part-title">工作车间</p>
                <div class="part-img">
                  <img src="__PUBLIC__/Home/images/success_5.png" alt="" class="part-img-1">
                  <img src="__PUBLIC__/Home/images/success_6.png" alt="" class="part-img-1">
                  <img src="__PUBLIC__/Home/images/success_7.png" alt="" class="part-img-1">
                  <img src="__PUBLIC__/Home/images/success_8.png" alt="" class="part-img-1">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部板块 -->
<include file="Public:footer" />
