
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>诚心家品</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/search.css">
<script src="__PUBLIC__/Home/js/jquery-1.12.1.min.js"></script>
<script type="text/javascript">
	function sm(){
		var info=$('#info').val();
		if(!info){
			$('#info').val('请填写要搜索的内容!');
		}else if(info=='请填写要搜索的内容!'){
			$('#info').val('请填写要搜索的内容!');
		}else{
			$('form').submit();
		}
	}

</script>
</head>
<body>
<!--该盒子一直包括到店长推荐-->
<script>
$("body").css({background:"#f4f4f4"})
</script>
<div class="width100 hidden bj_fff" style="min-height:40rem;">
	<!--搜索框-->
	<div class="width100 hidden bj_fff" style="height:88px;background-color:#00ccff; z-index:3;">
  		<div class="title">
  			<div class="title_left">
          <a href="javascript:history.go(-1);">
            <img src="__PUBLIC__/Home/images/return.png" alt="">
          </a>
  			</div>
  			<div class="title_right">
  				<p>搜索</p>
  			</div>
  		</div>
		<div class="center width96 border font14 c_66 hidden" style=" border:#00ccff;height:30px;margin-top:5px;border-radius:15px;line-height:30px;text-indent:10px;color:white;background-color:#87dff8;">
				<form name="form" method="post" action="{:U('Search/result')}">
						<input id="info" class="input_search" type="text" name="info" value="" placeholder="搜索商品" style="color:white">
				</form>
	      <img src="__PUBLIC__/Home/images/search.png" width="20" height="20" class="right" style="margin-top:5px;margin-right:10px;" onclick="sm();">
	    </div>
	</div>
  <div class="words_1">
    <p>搜索相关内容</p>
  </div>
  <div class="cate">
    <div class="cate_one">
      <p>水果</p>
    </div>
		<div class="cate_one">
			<p>咨询</p>
		</div>
		<div class="cate_one">
			<p>蔬菜</p>
		</div>
		<div class="cate_one">
			<p>地区</p>
		</div>
		<div class="cate_one">
			<p>特色</p>
		</div>
		<div class="cate_one">
			<p>活动</p>
		</div>
  </div>
</body>

</html>
