<include file="Public:header" />
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            <div class="btn btn-success">
                              <a href="{:U('Eqcate/add')}" style="color:white;"><span class="bold">新增</span></a>
                            </div>

                            </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <!-- addData_attribute:{$Think.lang.ADD}:id, -->
                        <table class="table">
                          <tread>
                            <tr width="100%">
                              <th width="5%">编号</th>
                              <th width="25%">分类名称</th>
                              <th width="20%">操作</th>
                            </tr>
                          </tread>
                          <tbody>
                            <!-- 一层循环 -->
                            <foreach name="list" item="vo">
                              <if condition="$vo.pid eq 0">
                                <tr>
                                  <td>{$vo.id}</td>
                                  <td>{$vo.name}</td>
                                  <td>
                                    <a href="{:U('Eqcate/edit',array('id'=>$vo[id]))}">编辑</a>&nbsp;&nbsp;
                                    <a href="{:U('Eqcate/delete',array('id'=>$vo[id]))}">删除</a>&nbsp;&nbsp;
                                  </td>
                                </tr>
                                <!-- 子类循环 -->
                                <foreach name="list" item="vo_1">
                                  <if condition="$vo_1['pid'] eq $vo['id']">
                                    <tr>
                                      <td>{$vo_1.id}</td>
                                      <td>|____{$vo_1.name}</td>
                                      <td>
                                        <a href="{:U('Eqcate/edit',array('id'=>$vo_1[id]))}">编辑</a>&nbsp;&nbsp;
                                        <a href="{:U('Eqcate/delete',array('id'=>$vo_1[id]))}">删除</a>&nbsp;&nbsp;
                                      </td>
                                    </tr>
                                  </if>
                                </foreach>
                                </if>
                          </foreach>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
	<div class="pager">{$page}</div>
</div>
<include file="Public:footer" />
