<include file="Public:header" />
	<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="{:U('Goods/index')}">返回列表</a></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-title">
                        <h5 style="margin-right:5rem;">{$goodname.name}</h5> 回收底价：{$goodname.price}元
                    </div>
                    <div class="ibox-content  form-horizontal">
                      <foreach item="vo" name="list">
                        <div class="form-group">
                              <if condition="$vo['pid']==0">
                                <label class="col-sm-3 control-label">{$vo.name}:</label>
                                  <foreach item="vo_d" name="list">
                                    <if condition="$vo_d['pid']==$vo['id']">
                                      <div class="col-sm-2">
                                        <label class="col-sm-2 control-label">{$vo_d.name}</label>
                                      </div>
                                    </if>
                                </foreach>
                              </if>
                        </div>
                      </foreach>
									 <div class="hr-line-dashed"></div>
                    </div>
            </div>
        </div>
    </div>
<include file="Public:footer" />
