
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>诚心家品</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/map.css">
<script src="__PUBLIC__/Home/js/jquery-1.12.1.min.js"></script>
<script src="__PUBLIC__/Home/js/jquery.lazyload.min.js"></script>
<script src="__PUBLIC__/Home/js/rotate.js"></script>
<script type="text/javascript">
//add deviceorientation event listener
$(function(){
  if(window.DeviceOrientationEvent){
    window.addEventListener('deviceorientation',DeviceOrientationHandler,false);
  }else{
    alert("您的浏览器不支持DeviceOrientation");
  }

  function DeviceOrientationHandler(event) {
    alpha = event.alpha; //Z轴方向
    var beta = event.beta,//X轴方向
    gamma = event.gamma;//Y轴方向

    if (alpha != null) {
      $('.arrow').rotate(alpha);
      // arrow.style.webkitTransform = "rotate(" + alpha + "deg)";//箭头旋转
    }
  }
});
</script>
<style media="screen">
  #map_bg{
      background-image: url(__PUBLIC__/Home/images/map_bg.jpg);
  }
</style>
</head>
<body>
<div class="width100 hidden bj_fff">
	<!--搜索框-->
	<div class="width100 hidden bj_fff" style="height:3rem;background-color:#00ccff;">
		<div class="title">
			<div class="title_left">
        <a href="javascript:history.go(-1);">
          <img src="__PUBLIC__/Home/images/return.png" alt="">
        </a>
			</div>
			<div class="title_right">
				<p>辽宁省</p>
			</div>
		</div>
	</div>
<!-- 个人 -->
<div id="map_bg">
  <div class="direction">
    <img class="arrow" src="__PUBLIC__/Home/images/direction.png" alt="指南针">
  </div>
  <div class="map">
    <img src="__PUBLIC__/Home/images/map.png" alt="地图">
  </div>
  <a href="{:U('Goods/index_city',array('id'=>1))}" class="tl">铁岭市</a>
  <a href="{:U('Goods/index_city',array('id'=>2))}" class="fs">抚顺市</a>
  <a href="{:U('Goods/index_city',array('id'=>3))}" class="sy">沈阳市</a>
  <a href="{:U('Goods/index_city',array('id'=>4))}" class="bx">本溪市</a>
  <a href="{:U('Goods/index_city',array('id'=>5))}" class="ly">辽阳市</a>
  <a href="{:U('Goods/index_city',array('id'=>6))}" class="dd">丹东市</a>
  <a href="{:U('Goods/index_city',array('id'=>7))}" class="as">鞍山市</a>
  <a href="{:U('Goods/index_city',array('id'=>8))}" class="yk">营口市</a>
  <a href="{:U('Goods/index_city',array('id'=>9))}" class="dl">大连市</a>
  <a href="{:U('Goods/index_city',array('id'=>10))}" class="pj">盘锦市</a>
  <a href="{:U('Goods/index_city',array('id'=>11))}" class="fx">阜新市</a>
  <a href="{:U('Goods/index_city',array('id'=>12))}" class="jz">锦州市</a>
  <a href="{:U('Goods/index_city',array('id'=>13))}" class="cy">朝阳市</a>
  <a href="{:U('Goods/index_city',array('id'=>14))}" class="hld">葫芦岛市</a>
  <div class="words">
    <p>点击城市会有新发现</p>
  </div>

</div>

<!-- 定位模块 -->
<script src="__PUBLIC__/Home/js/lazyload.js"></script>
</body>

</html>
