<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/map.css">
    <title>诚心家品</title>
    <style media="screen">
    html,body{
      width: 100%;
      height: 100%;
    }
      #map_bg{
          background-image: url(__PUBLIC__/Home/images/map_bg2.jpg);
          height: 93%;
      }
    </style>
</head>

<body>
  <div class="width100 hidden bj_fff" style="height:100%;">
  	<!--搜索框-->
  	<div class="width100 hidden bj_fff" style="height:7%;background-color:#00ccff;">
  		<div class="title">
  			<div class="title_left">
          <a href="javascript:history.go(-1);">
            <img src="__PUBLIC__/Home/images/return.png" alt="">
          </a>
  			</div>
  			<div class="title_right">
  				<p>辽宁省</p>
  			</div>
  		</div>
  	</div>
    <div id="map_bg">
      <div id="main" style="height:500px;"></div>
      <div class="words">
        <p>点击城市会有新发现</p>
      </div>
    </div>
  </div>
<script src="__PUBLIC__/Home/js/jquery-1.12.1.min.js"></script>
<script type="text/JavaScript" src="__PUBLIC__/echarts/echarts.js"></script>
<script type="text/JavaScript" src="__PUBLIC__/echarts/liaoning.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/layer.js"></script>
<script type="text/javascript">
   var flag = true;
   var chart = echarts.init(document.getElementById('main'));
   chart.setOption({
     layoutSize: 100  ,
      series: [{
            name:'辽宁地区',
            selectedMode : 'single',
            itemStyle:{
              normal:{label:{show:flag}},    //地图初始化城市名称是否展示
              emphasis:{label:{show:true}}   //鼠标移入城市名称是否展示
            },
            type: 'map',
            map: 'liaoning'
        }]
    });
    chart.on('click', function (param){
      var selected = param.name;
      layer.confirm('确认前往'+selected+'吗？', {
          title:false,
          btn: ['确认','取消'], //按钮
          shade:false,
        },
      function(index){
        if (selected) {
            switch(selected){
                case '沈阳市':
                    location.href = "{:U('Goods/index_city',array('id'=>3))}";
                    break;
                case '葫芦岛市':
                    location.href = "{:U('Goods/index_city',array('id'=>14))}";
                    break;
                case '朝阳市':
                    location.href = "{:U('Goods/index_city',array('id'=>13))}";
                    break;
                case '锦州市':
                    location.href = "{:U('Goods/index_city',array('id'=>12))}";
                    break;
                case '阜新市':
                    location.href ="{:U('Goods/index_city',array('id'=>11))}";
                    break;
                case '盘锦市':
                    location.href = "{:U('Goods/index_city',array('id'=>10))}";
                    break;
                case '大连市':
                    location.href = "{:U('Goods/index_city',array('id'=>9))}";
                    break;
                case '营口市':
                    location.href = "{:U('Goods/index_city',array('id'=>8))}";
                    break;
                case '鞍山市':
                    location.href = "{:U('Goods/index_city',array('id'=>7))}";
                    break;
                case '丹东市':
                    location.href = "{:U('Goods/index_city',array('id'=>6))}";
                    break;
                case '辽阳市':
                    location.href = "{:U('Goods/index_city',array('id'=>5))}";
                    break;
                case '本溪市':
                    location.href = "{:U('Goods/index_city',array('id'=>4))}";
                    break;
                case '抚顺市':
                    location.href ="{:U('Goods/index_city',array('id'=>2))}";
                    break;
                case '铁岭市':
                    location.href = "{:U('Goods/index_city',array('id'=>1))}";
                    break;
                default:
                    break;
            }
          }
        },
        function(){
          layer.msg('您已取消~');
        }
      );
  });
    window.onresize = chart.resize();
</script>
</body>

</html>
