
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>诚心家品</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/fenxiaoshang.css">
<script src="__PUBLIC__/Home/js/jquery-1.12.1.min.js"></script>
</head>

<body>
<!--该盒子一直包括到店长推荐-->
<div class="width100 hidden bj_fff" style="">
	<!--搜索框-->
	<div class="width100 hidden bj_fff" style="height:3rem;background-color:#00ccff;">
		<div class="title">
			<div class="title_left">
        <a href="javascript:history.go(-1);">
          <img src="__PUBLIC__/Home/images/return.png" alt="">
        </a>
			</div>
			<div class="title_right">
				<p>分销商</p>
			</div>
		</div>
	</div>
<!-- 个人 -->
<div class="one">
  <div class="one_left">
    <img src="__PUBLIC__/Home/images/eg3.png" alt="" style="width:4rem;margin-left:1rem;">
  </div>
  <a href="userinfo.html" style="color: black;">
    <div class="one_right">
      <p class="p_1_1">王晓华</p>
      <p class="p_3">推荐人: 刘文</p>
      <p class="p_3">激活码: 53396</p>
    </div>
  </a>
</div>
<!--个人列表  -->
<div class="info">
  <p class="p_4">可提现佣金(元)</p>
  <p class="p_5">1356.00</p>
</div>
<div class="info">
  <p class="p_4">成功提现佣金<span>386.5</span>(元)</p>
  <p class="p_5" style="  line-height: 2rem;margin-top: 0.5rem; margin-right: 7%;border: 1px solid #00ccff;padding:0px 5px 0px 5px;border-radius:5px;">提现</p>
</div>
<div class="one" style="background-color:white;">
  <div class="one_left">
    <img src="__PUBLIC__/Home/images/61.png" alt="">
  </div>
  <a href="" style="color: black;">
    <div class="one_right" style="margin-top: 1.5rem;padding-left:1rem;">
      <p class="p_1">提现明细</p>
      <p class="p_right"><span>0</span> 笔</p>
    </div>
  </a>
</div>
<div class="one" style="background-color:white;">
  <div class="one_left">
    <img src="__PUBLIC__/Home/images/62.png" alt="">
  </div>
  <a href="" style="color: black;">
    <div class="one_right" style="margin-top: 1.5rem;padding-left:1rem;">
      <p class="p_1">佣金明细</p>
      <p class="p_right"><span>0</span> 笔</p>
    </div>
  </a>
</div>
<div class="one" style="background-color:white;">
  <div class="one_left">
    <img src="__PUBLIC__/Home/images/63.png" alt="">
  </div>
  <a href="" style="color: black;">
    <div class="one_right" style="margin-top: 1.5rem;padding-left:1rem;">
      <p class="p_1">分销佣金</p>
      <p class="p_right"><span>0</span> 笔</p>
    </div>
  </a>
</div>
<div class="one" style="background-color:white;">
  <div class="one_left">
    <img src="__PUBLIC__/Home/images/64.png" alt="">
  </div>
  <a href="" style="color: black;">
    <div class="one_right" style="margin-top: 1.5rem;padding-left:1rem;">
      <p class="p_1">我的下线</p>
      <p class="p_right"><span>0</span> 人</p>
    </div>
  </a>
</div>
</div>

</body>

</html>
