<include file="Public:header"/>
    <!-- 导航条结束 -->
    <!-- 产品介绍-->
    <!-- 公司介绍 -->
    <div class="container">
      <div class="container-fluid successplan-content">
        <div class="row successplan-row">
          <div class="col-md-11" style="text-align:left;margin-top:30px;">
            <!-- 案例header -->
            <div class="successplan-header" style="margin-bottom:30px;">
              <span class="success-title">
                <a href="{:U('Product/Index')}" class="a_link">
                  产品介绍
                </a>
              </span>
              <span class="title-eng">
                /product introduction
              </span>
              <span class="success-small-title" >
                · <a href="{:U('Index/index')}" class="a_link">首页</a> > <a href="{:U('Product/Index')}" class="a_link">产品列表</a> > {$detail.name}
              </span>
            </div>
            <!-- 产品模块-->
            <div class="success-one" style="padding-left:15px;padding-right:15px;margin-bottom:30px;">
                <div class="" style="margin-bottom:20px;">
                  <span class="success-title">
                    产品型号：{$detail.name}
                  </span>
                </div>
                <div class="" style="margin-bottom:20px;">
                  <img src="__ROOT__/Uploads/{$detail.img}" alt="" class="product-detail-img" alt="{$detail.name}">
                </div>
                <div class="">
                  {$str}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- 底部板块 -->
<include file="Public:footer" />
