<include file="Public:header"/>
    <!-- 导航条结束 -->
    <!-- 产品介绍-->
    <!-- 公司介绍 -->
    <div class="container">
      <div class="container-fluid successplan-content">
        <div class="row successplan-row">
          <div class="col-md-11" style="text-align:left;margin-top:30px;">
            <!-- 案例header -->
            <div class="successplan-header" style="margin-bottom:30px;">
              <span class="success-title">
                产品介绍
              </span>
              <span class="title-eng">
                /product introduction
              </span>
              <span class="success-small-title" >
                · 首页 > 产品详情
              </span>
            </div>
            <!-- 产品模块-->
            <div class="success-one" style="padding-left:15px;padding-right:15px;">
                <div class="">
                  <span class="success-title">
                    产品型号：LJ05
                  </span>
                </div>
                <div class="">
                  <img src="__PUBLIC__/Home/images/product_1.png" alt="" class="product-detail-img">
                </div>
                <div class="">
                  <img src="__PUBLIC__/Home/images/lj05.png" alt="" class="product-detail-img">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- 底部板块 -->
<include file="Public:footer" />
