<include file="Public:header"/>
    <!-- 导航条结束 -->
    <!-- 产品介绍-->
    <div class="container-fluid product-bg">
        <div class="container-fluid product-bg-2">
        <div class="col-md-1 product-list">
          <div class="product-all">
            <a href="{:U('Product/index')}" style="color:white;">
              <p>
                全部
              </p>
            </a>
          </div>
          <foreach name="cate" item="vo">
            <div class="product-type">
              <div class="">
                <div class="list-header">
                  <a href="{:U('Product/index',array('bid'=>$vo[id]))}" style="color:white;">
                    <p>{$vo.name}</p>
                  </a>
                </div>
              </div>
            </div>
          </foreach>
        </div>
          <div class="col-md-6 product-row">
            <!-- 案例header -->
            <div class="product-header">
              <span class="success-title">
                产品介绍
              </span>
              <span class="title-eng">
                /product introduction
              </span>
              <span class="product-small-title" >
                · 首页 > 主营产品
              </span>
            </div>
            <!-- 具体产品 -->
            <foreach name="list" item="vo">
              <div class="product-one">
                <a href="{:U('Product/detail',array('id'=>$vo[id]))}">
                  <img src="__ROOT__/Uploads/{$vo.img}" alt="{$vo.name}" >
                </a>
                <p>{$vo.gname}</p>
                <table class="table table-bordered">
                  <tr>
                    <td>零件代码</td>
                    <td>{$vo.code}</td>
                  </tr>
                  <tr>
                    <td>材质</td>
                    <td>{$vo.caizhi}</td>
                  </tr>
                  <tr>
                    <td>颜色</td>
                    <td>{$vo.color}</td>
                  </tr>
                  <tr>
                    <td>重量</td>
                    <td>{$vo.weight}）</td>
                  </tr>
                </table>
              </div>
            </foreach>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- 底部板块 -->
<include file="Public:footer" />
