<include file="Public:header"/>
    <!-- 导航条结束 -->
    <!-- 产品介绍-->
    <div class="container-fluid product-bg">
        <div class="container-fluid product-bg-2">
        <div class="col-md-1 product-list">
          <div class="product-all">
            <p>全部</p>
          </div>
          <div class="product-type">
            <div class="">
              <div class="list-header">
                <p>型号一</p>
              </div>
              <div class="list-item">
                <p>LJ05</p>
                <p>LJ06</p>
              </div>
            </div>
          </div>
          <div class="product-type">
            <div class="">
              <div class="list-header">
                <p>型号二</p>
              </div>
              <div class="list-item">
                <p>LJ07</p>
                <p>LJ08</p>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-6 product-row">
            <!-- 案例header -->
            <div class="product-header">
              <span class="success-title">
                产品介绍
              </span>
              <span class="title-eng">
                /product introduction
              </span>
              <span class="product-small-title" >
                · 首页 > 主营产品
              </span>
            </div>
            <!-- 具体产品 -->
            <div class="product-one">
              <img src="__PUBLIC__/Home/images/p-1.png" alt="" >
              <p>阀座</p>
              <table class="table table-bordered">
                <tr>
                  <td>零件代码</td>
                  <td>LJ05</td>
                </tr>
                <tr>
                  <td>材质</td>
                  <td>聚丙烯</td>
                </tr>
                <tr>
                  <td>颜色</td>
                  <td>淡蓝色</td>
                </tr>
                <tr>
                  <td>重量</td>
                  <td>11（±0.2g）</td>
                </tr>
              </table>
            </div>
            <div class="product-one">
              <img src="__PUBLIC__/Home/images/p-1.png" alt="" >
              <p>阀座</p>
              <table class="table table-bordered">
                <tr>
                  <td>零件代码</td>
                  <td>LJ05</td>
                </tr>
                <tr>
                  <td>材质</td>
                  <td>聚丙烯</td>
                </tr>
                <tr>
                  <td>颜色</td>
                  <td>淡蓝色</td>
                </tr>
                <tr>
                  <td>重量</td>
                  <td>11（±0.2g）</td>
                </tr>
              </table>
            </div>
            <div class="product-one">
              <img src="__PUBLIC__/Home/images/p-1.png" alt="" >
              <p>阀座</p>
              <table class="table table-bordered">
                <tr>
                  <td>零件代码</td>
                  <td>LJ05</td>
                </tr>
                <tr>
                  <td>材质</td>
                  <td>聚丙烯</td>
                </tr>
                <tr>
                  <td>颜色</td>
                  <td>淡蓝色</td>
                </tr>
                <tr>
                  <td>重量</td>
                  <td>11（±0.2g）</td>
                </tr>
              </table>
            </div>
            <div class="product-one">
              <img src="__PUBLIC__/Home/images/p-1.png" alt="" >
              <p>阀座</p>
              <table class="table table-bordered">
                <tr>
                  <td>零件代码</td>
                  <td>LJ05</td>
                </tr>
                <tr>
                  <td>材质</td>
                  <td>聚丙烯</td>
                </tr>
                <tr>
                  <td>颜色</td>
                  <td>淡蓝色</td>
                </tr>
                <tr>
                  <td>重量</td>
                  <td>11（±0.2g）</td>
                </tr>
              </table>
            </div>
            <div class="product-one">
              <img src="__PUBLIC__/Home/images/p-1.png" alt="" >
              <p>阀座</p>
              <table class="table table-bordered">
                <tr>
                  <td>零件代码</td>
                  <td>LJ05</td>
                </tr>
                <tr>
                  <td>材质</td>
                  <td>聚丙烯</td>
                </tr>
                <tr>
                  <td>颜色</td>
                  <td>淡蓝色</td>
                </tr>
                <tr>
                  <td>重量</td>
                  <td>11（±0.2g）</td>
                </tr>
              </table>
            </div>
            <div class="product-one">
              <img src="__PUBLIC__/Home/images/p-1.png" alt="" >
              <p>阀座</p>
              <table class="table table-bordered">
                <tr>
                  <td>零件代码</td>
                  <td>LJ05</td>
                </tr>
                <tr>
                  <td>材质</td>
                  <td>聚丙烯</td>
                </tr>
                <tr>
                  <td>颜色</td>
                  <td>淡蓝色</td>
                </tr>
                <tr>
                  <td>重量</td>
                  <td>11（±0.2g）</td>
                </tr>
              </table>
            </div>
            <div class="product-one">
              <img src="__PUBLIC__/Home/images/p-1.png" alt="" >
              <p>阀座</p>
              <table class="table table-bordered">
                <tr>
                  <td>零件代码</td>
                  <td>LJ05</td>
                </tr>
                <tr>
                  <td>材质</td>
                  <td>聚丙烯</td>
                </tr>
                <tr>
                  <td>颜色</td>
                  <td>淡蓝色</td>
                </tr>
                <tr>
                  <td>重量</td>
                  <td>11（±0.2g）</td>
                </tr>
              </table>
            </div>
            <div class="product-one">
              <img src="__PUBLIC__/Home/images/p-1.png" alt="" >
              <p>阀座</p>
              <table class="table table-bordered">
                <tr>
                  <td>零件代码</td>
                  <td>LJ05</td>
                </tr>
                <tr>
                  <td>材质</td>
                  <td>聚丙烯</td>
                </tr>
                <tr>
                  <td>颜色</td>
                  <td>淡蓝色</td>
                </tr>
                <tr>
                  <td>重量</td>
                  <td>11（±0.2g）</td>
                </tr>
              </table>
            </div>
            <div class="product-one">
              <img src="__PUBLIC__/Home/images/p-1.png" alt="" >
              <p>阀座</p>
              <table class="table table-bordered">
                <tr>
                  <td>零件代码</td>
                  <td>LJ05</td>
                </tr>
                <tr>
                  <td>材质</td>
                  <td>聚丙烯</td>
                </tr>
                <tr>
                  <td>颜色</td>
                  <td>淡蓝色</td>
                </tr>
                <tr>
                  <td>重量</td>
                  <td>11（±0.2g）</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- 底部板块 -->
<include file="Public:footer" />
