
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>诚心家品</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/add_address.css"/>
    <link href="__PUBLIC__/Home/css/city-picker.css" rel="stylesheet">
    <script src="__PUBLIC__/Home/js/jquery-1.12.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Home/js/city-picker.data.js"></script>
    <script src="__PUBLIC__/Home/js/city-picker.js"></script>
    <script type="text/javascript">
    //清空input文本框
    function clear(){
      $('input').val("");
    }
    //提交事件
      function sm(){
        var name=$('#name').val();
        var tel=$('#tel').val();
        var reg=/^([\u4E00-\u9FA5]+|[a-zA-Z]+)$/;   //姓名验证
        var regtel=/^1[34578]\d{9}$/; //验证手机号
        if(!reg.test(name)){
          alert('请输入正确姓名');
          clear();
        }else if(regtel.test(tel)=== false){
            alert("手机号输入错误");
            $('#tel').val("");
            return  false;
        }else{
          $('form').submit();
        }
    }
    </script>
</head>
<body>
  <div class="width100 hidden bj_fff" style="height:4rem;background-color:#00ccff;">
		<div class="title">
			<div class="title_left">
        <a href="{:U('User/address')}">
          <img src="__PUBLIC__/Home/images/return.png" alt="">
        </a>
			</div>
			<div class="title_right">
				<p>编辑收货地址</p>
			</div>
		</div>
	</div>
  <form class="" action="{:U('User/address_edit')}" method="post">
    <div class="section">
      <div class="section_one">
        <p class="info">姓名</p>
        <input id="name" type="text" name="name" placeholder="请填写持姓名" value="{$list.name}">
      </div>
      <div class="section_one">
        <p class="info">联系电话</p>
        <input id="tel" type="text" name="tel" placeholder="请填写联系电话" value="{$list.tel}">
      </div>
      <div class="section_one">
        <!-- <p class="info">省市区</p> -->
        <div class="address_container">
          <div id="distpicker">
            <div class="form-group">
              <div style="position: relative;">
                <input id="city-picker3" class="form-control" readonly type="text" name="location" value="{$list.location}" data-toggle="city-picker">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section_one">
        <p class="info">小区街道门牌号</p>
        <input id="detail" type="text" name="detail" placeholder="请填写具体位置" value="{$list.detail}">
      </div>
    </div>
    <input type="text" name="id" value="{$list.id}" style="display:none;">
  </form>
  <div class="button">
    <a onclick="sm();">
      <p class="tj">
        确定修改
      </p>
    </a>
  </div>
  <div class="tips">
    <p>Tips：</p>
    <p>请填写真实信息，以保障收到货物。</p>
    <p>填写完后请注意核实信息，以防填错。</p>
  </div>

</body>
</html>
