
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>诚心家品</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/usercenter.css">
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_403143_nbpgsnnn79tqpvi.css">
<script src="__PUBLIC__/Home/js/jquery-1.12.1.min.js"></script>
<!-- 上传图片js -->
<script type="text/javascript">
  function upload(){
    document.getElementById('upimg').click();
  }
  function sm(){
    document.getElementById('upfile').submit();
  }
</script>
</head>
<body>
<!--该盒子一直包括到店长推荐-->
<div class="width100 hidden bj_fff" style="">
	<div class="width100 hidden bj_fff" style="height:3rem;background-color:#00ccff;">
		<div class="title">
			<div class="title_left">
			</div>
			<div class="title_right">
				<p>个人中心</p>
			</div>
		</div>
	</div>
<!-- 个人 -->
<div class="one">
  <!-- 图片提交表单 -->
 <form id="upfile" class="" action="{:U('User/upload')}" method="post" enctype="multipart/form-data" style="display:none">
   <input id="upimg" type="file" name="img" value="" style="display:none" onchange="sm();">
 </form>
  <div class="one_left">
    <img src="{$user_info.img}" alt="头像" style="width:4rem;height:4rem;margin-left:1rem;line-height: 4rem;">
  </div>
  <a href="{:U('User/personinfo')}" style="color: black;">
    <div class="one_right">
      <if condition="$nick_name eq ''">
          <p class="p_1" style="margin-left:1rem;font-size:14px;color:grey;">尚未设置昵称，点击完善信息</p>
        <else />
          <p class="p_1" style="margin-left:1rem;font-size:14px;">昵称：{$nick_name}</p>
      </if>
      <p class="p_3" style="margin-left: 1rem;">注册日期：{$user_info.create_time|date="Y-m-d",###}</p>
      <img src="__PUBLIC__/Home/images/right_arrow.png" style="bottom: 0.8rem;">
    </div>
  </a>
</div>
<!--个人列表  -->
<div class="one" style="background-color:white;">
  <div class="one_left">
    <img src="__PUBLIC__/Home/images/pwd.png" alt="">
  </div>
  <a href="{:U('User/pwd_list')}" style="color: black;">
    <div class="one_right" style="margin-top: 1.5rem;padding-left:1rem;">
      <p class="p_1">密码管理</p>
      <img src="__PUBLIC__/Home/images/right_arrow.png"  >
    </div>
  </a>
</div>
<div class="one" style="background-color:white;">
  <div class="one_left">
    <img src="__PUBLIC__/Home/images/order.png" alt="">
  </div>
  <a href="{:U('User/ordercenter')}" style="color: black;">
    <div class="one_right" style="margin-top: 1.5rem;padding-left:1rem;">
      <p class="p_1">订单列表</p>
      <img src="__PUBLIC__/Home/images/right_arrow.png"  >
    </div>
  </a>
</div>
<div class="one" style="background-color:white;">
  <div class="one_left">
    <img src="__PUBLIC__/Home/images/address.png" alt="">
  </div>
  <a href="{:U('User/address')}" style="color: black;">
    <div class="one_right" style="margin-top: 1.5rem;padding-left:1rem;">
      <p class="p_1">我的地址</p>
      <img src="__PUBLIC__/Home/images/right_arrow.png"  >
    </div>
  </a>
</div>
<div class="one" style="background-color:white;">
  <div class="one_left">
    <img src="__PUBLIC__/Home/images/sc.png" alt="">
  </div>
  <a href="{:U('User/collect')}" style="color: black;">
    <div class="one_right" style="margin-top: 1.5rem;padding-left:1rem;">
      <p class="p_1">我的收藏</p>
      <img src="__PUBLIC__/Home/images/right_arrow.png"  >
    </div>
  </a>
</div>
<div class="one" style="background-color:white;">
  <div class="one_left">
    <img src="__PUBLIC__/Home/images/bankcard.png" alt="">
  </div>
  <a href="{:U('Bank/index')}" style="color: black;">
    <div class="one_right" style="margin-top: 1.5rem;padding-left:1rem;">
      <p class="p_1">我的银行卡</p>
      <img src="__PUBLIC__/Home/images/right_arrow.png"  >
    </div>
  </a>
</div>
<div class="one" style="background-color:white;">
  <div class="one_left">
    <img src="__PUBLIC__/Home/images/gys.png" alt="">
  </div>
  <a href="{:U('Supplier/index')}" style="color: black;">
    <div class="one_right" style="margin-top: 1.5rem;padding-left:1rem;">
      <p class="p_1">供应商管理</p>
      <img src="__PUBLIC__/Home/images/right_arrow.png"  >
    </div>
  </a>
</div>
<div class="one" style="background-color:white;">
  <div class="one_left">
    <img src="__PUBLIC__/Home/images/jxs.png" alt="">
  </div>
  <a href="{:U('Fenxiaoshang/index')}" style="color: black;">
    <div class="one_right" style="margin-top: 1.5rem;padding-left:1rem;">
      <p class="p_1">分销商管理</p>
      <img src="__PUBLIC__/Home/images/right_arrow.png"  >
    </div>
  </a>
</div>
<div class="one" style="background-color:white;">
  <div class="one_left">
    <img src="__PUBLIC__/Home/images/suggest.png" alt="">
  </div>
  <a href="{:U('User/suggest')}" style="color: black;">
    <div class="one_right" style="margin-top: 1.5rem;padding-left:1rem;">
      <p class="p_1">反馈意见</p>
      <img src="__PUBLIC__/Home/images/right_arrow.png"  >
    </div>
  </a>
</div>

<div class="blank" style="height:7rem;text-align:center">
    <a href="{:U('User/quit')}">
      <p style="color:white; margin-top:1rem;width:50%;margin-left: 25%;background-color:#00ccff;border-radius:5px;padding:0.5rem 0rem ">退出登录</p>
    </a>
</div>

</div>

<div id="footer">
	<a href="{:U('Index/index')}" class="on">
    	<p >
				<i>
					<img src="__PUBLIC__/Home/images/bot_1_s.png" alt="" style="width:2rem;margin-left:34%;">
				</i>
			</p>
        <span style="color:black">首页</span>
    </a>
    <a href="{:U('Article/index')}">
    	<p>
				<i>
					<img src="__PUBLIC__/Home/images/health.png" alt="" style="width:2rem;margin-left:34%;">
				</i>
			</p>
        <span>健康</span>
    </a>
    <a href="{:U('Cart/index')}">
			<p >
				<i>
					<img src="__PUBLIC__/Home/images/bot_3.png" alt="" style="width:2rem;margin-left:34%;">
				</i>
			</p>
        <span>购物车</span>
    </a>
    <a href="{:U('User/index')}">
			<p >
				<i>
					<img src="__PUBLIC__/Home/images/bot_4_s.png" alt="" style="width:2rem;margin-left:34%;">
				</i>
			</p>
        <span style="color:#00ccff">我的</span>
    </a>
</div>
</body>

</html>
