<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的论坛</title>
    <link href="__PUBLIC__/Home/css/wodeluntan.css" rel="stylesheet">
    <style media="screen">
    a{
      -webkit-tap-highlight-color:transparent;
    }
    </style>
</head>
<body>
     <div id="all">
       <div id="title">
         <div id="zuojianjiao">
           <p style="line-height:8rem;">
             <a href="{:U('User/index')}">
               <img src="__PUBLIC__/Home/img/qietu/secondphonerecover/second_01.jpg" style="margin-left:1rem;">
             </a>
           </p>
         </div>
         <div>
           <p style="line-height:8rem;">
             我的论坛
           </p>
         </div>
       </div>
         <!--------------------------------->
         <div class="content">
           <a href="{:U('User/my_words')}">
             <div id="con-one">
                 <div>我的话题</div>
                 <div><img style="width:2rem;height:2rem;" src="__PUBLIC__/Home/img/qietu/user/jiantou.png"></div>
             </div>
           </a>
             <div id="con-two">
                 <div>我的赞</div>
                 <div><img style="width:2rem;height:2rem;" src="__PUBLIC__/Home/img/qietu/user/jiantou.png"></div>
             </div>
             <div id="con-three">
                 <div>我的评论</div>
                 <div><img style="width:2rem;height:2rem;" src="__PUBLIC__/Home/img/qietu/user/jiantou.png"></div>
             </div>

         </div>

     </div>
</body>
</html>
