
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>诚心家品</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/order.css">
<script src="__PUBLIC__/Home/js/jquery-1.12.1.min.js"></script>
</head>

<body>
<!--该盒子一直包括到店长推荐-->
<script>
</script>
<div class="width100 hidden bj_fff" style="">
	<!--搜索框-->
	<div class="width100 hidden bj_fff" style="height:3rem;background-color:#00ccff;">
		<div class="title">
			<div class="title_left">
        <a href="{:U('User/index')}">
          <img src="__PUBLIC__/Home/images/return.png" alt="">
        </a>
			</div>
			<div class="title_right">
				<p>我的订单</p>
			</div>
		</div>
	</div>
<!-- 订单列表开始 -->
<foreach name="list" item="list">
<div class="one">
  <div class="one_left">
    <img src="__ROOT__/Uploads/{$list.image_path}" alt="{$list.goods_name}">
  </div>
  <a href="{:U('Orders/detail',array('id'=>$list['id']))}" style="color: black;">
    <div class="one_right">
      <p class="p_1">{$list.goods_name}</p>
			<p class="p_2">共
        <span>
          {$list.goods_number}
        </span>
        斤</p>
      <p class="p_3">合计: ￥{$list.order_money}</p>
      <if condition="$list['pay_status'] eq 0">
			     <p class="p_6" style="color:red;">未付款</p>
      </if>
      <if condition="$list['pay_status'] eq 2">
           <p class="p_6">已付款</p>
      </if>
    </div>
  </a>
</div>
<div class="one_b">
	<div class="one_b_container">
		<p class="p_4">{$list.create_time|date="m-d H:i",###}</p>
		<p class="p_5">更多</p>
		<if condition=" $list['pay_status'] eq 0 ">
			<p class="p_5" style="color:#8b8b8b">
					评价
			</p>
		</if>
		<if condition=" $list['is_comment'] eq 1 ">
			<p class="p_5">
					已评价
			</p>
		</if>
		<if condition=" $list['pay_status'] eq 2 and $list['is_comment'] eq 0">
			<p class="p_5">
				<a href="{:U('Comment/index',array('gid'=>$list['goods_id'],'id'=>$list['id']))}">
					去评价
				</a>
			</p>
		</if>
		<p class="p_5">
      <a href="{:U('Goods/detail',array('gid'=>$list['goods_id']))}">
        再次购买
      </a>
    </p>

	</div>
</div>
<div class="jiange"></div>
</foreach>


</div>
</body>

</html>
