<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="keywords" content="个人信息">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>诚心佳品</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/static/user/font_1459473269_4751618.css">
	<link href="__PUBLIC__/Home/static/user/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/Home/static/user/style.css" rel="stylesheet">
		<link href="__PUBLIC__/Home/css/city-picker.css" rel="stylesheet">
   <script src="__PUBLIC__/Home/static/user/jquery.min.js"></script>
   <script src="__PUBLIC__/Home/static/user/bootstrap.min.js"></script>
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/static/user/menu_elastic.css">
<script src="__PUBLIC__/Home/static/user/snap.svg-min.js"></script>
<!--[if IE]>
<script src="__PUBLIC__/Home/js/html5.js"></script>
<![endif]-->
</head>
<body class="huibg">
<div class="menu-wrap">
    <nav class="menu">
      <div class="icon-list">
        <a href="{:U('Index/index')}"><i class="iconfont icon-home"></i><span>首页</span></a>
        <a href="{:U('User/index')}"><i class="iconfont icon-yonghux"></i><span>个人中心</span></a>
        <a href="{:U('Order/idnex')}"><i class="iconfont icon-liebiao"></i><span>订单中心</span></a>
        <a href="{:U('User/address')}"><i class="iconfont icon-dizhi"></i><span>地址信息</span></a>
      </div>
    </nav>
    <button class="close-button" id="close-button">Close Menu</button>
    <div class="morph-shape" id="morph-shape" data-morph-open="M-1,0h101c0,0,0-1,0,395c0,404,0,405,0,405H-1V0z">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
        <path d="M-1,0h101c0,0-97.833,153.603-97.833,396.167C2.167,627.579,100,800,100,800H-1V0z"></path>
      <desc>Created with Snap</desc><defs></defs></svg>
    </div>
  </div>
<nav class="navbar text-center">
   <a href="{:U('User/index')}">
		 <button class="topleft"><span class="iconfont icon-fanhui"></span></button>
	 </a>
  <a class="navbar-tit center-block">个人信息</a>
  <button class="topnav" id="open-button"><span class="iconfont icon-1"></span></button>
</nav>
<!-- 表单开始 -->
<form action="{:U('User/personinfo')}" method="post">
<div class="usercenter  accdv">

  <div class="row">
                     <div class="col-md-2">昵称：</div>
                     <div class="col-md-10"><input type="text" name="nick_name" id="" class="form-control" value="{$info.nick_name}"></div>
                   </div>
                   <div class="row">
                     <div class="col-md-2">姓名：</div>
                     <div class="col-md-10"><input type="text" name="name" id="" class="form-control" value="{$info.name}"></div>
                   </div>
                   <div class="row">
                     <div class="col-md-2">性别：</div>
                     <div class="col-md-10">
                      <label class="checkbox-inline">
												<if condition="$info['sex'] eq 1">
					                <input type="radio" name="sex" id="optionsRadios3" value="1" checked="checked"> 男
												<else />
													<input type="radio" name="sex" id="optionsRadios3" value="1" checked=""> 男
												</if>
					             </label>
					             <label class="checkbox-inline">
												 <if condition="$info['sex'] eq 2">
					                	<input type="radio" name="sex" id="optionsRadios4" value="2" checked="checked"> 女
													<else />
														<input type="radio" name="sex" id="optionsRadios4" value="2"> 女
													</if>
					             </label>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-md-2">手机号：</div>
                     <div class="col-md-10"><input type="tel" name="tel" id="" class="form-control" value="{$info.tel}"></div>
                   </div>
                   <div class="row">
                     <div class="col-md-2">邮箱：</div>
                     <div class="col-md-10"><input type="email" name="email" id="" class="form-control" value="{$info.email}"></div>
                   </div>
                   <div class="row">
                     <div class="col-md-2">所在地：</div>
                     <div class="col-md-10">
                       <div class="form-group m-r-10">
												 <div id="distpicker">
									 				<div class="form-group">
									 					<div style="position: relative;">
									 						<input id="city-picker3" name="address" class="form-control" readonly type="text"  data-toggle="city-picker" value="{$info.address}">
									 					</div>
									 				</div>
									 			</div>

                  </div>
                       <!-- <div class="form-group m-r-10">
              <select class="form-control">
                     <option>宝山</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
                     <option>5</option>
                  </select>
                  </div> -->
              <div class="form-group m-r-10">
              <input type="text" name="detail_address" id="" class="form-control" value="{$info.detail_address}">
              </div>
                       </div>
                   </div>
                   <div class="row">
                     <div class="col-md-2">生日：</div>
                     <div class="col-md-10"><input type="text" name="birthday" id="" class="form-control" value="{$info.birthday}"></div>
                   </div>
                   <div class="row">
                     <div class="col-md-2">个人描述</div>
                     <div class="col-md-10"><textarea class="form-control" name="instruction" rows="3">{$info.instruction}</textarea></div>
                   </div>
                   <div class="row">
                     <div class="col-md-2"></div>
                     <div class="col-md-10"><button type="submit" class="btn btn-danger btn-block btn-lg">确 定</button></div>
                   </div>
</div>
</form>
<!-- 表单结束 -->
<script src="__PUBLIC__/Home/static/user/classie.js"></script>
<script src="__PUBLIC__/Home/static/user/main3.js"></script>
<script src="__PUBLIC__/Home/js/city-picker.data.js"></script>
<script src="__PUBLIC__/Home/js/city-picker.js"></script>
</body>
<div>
</div>
</html>
