
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>诚心家品</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pwd_list.css">
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_403143_nbpgsnnn79tqpvi.css">
<script src="__PUBLIC__/Home/js/jquery-1.12.1.min.js"></script>
</head>
<body>
<!--该盒子一直包括到店长推荐-->
<div class="width100 hidden bj_fff" style="">
	<div class="width100 hidden bj_fff" style="height:3rem;background-color:#00ccff;">
		<div class="title">
			<div class="title_left">
        <a href="javascript:history.go(-1);">
          <img src="__PUBLIC__/Home/images/return.png" alt="">
        </a>
			</div>
			<div class="title_right">
				<p>密码管理</p>
			</div>
		</div>
	</div>
<!--密码列表  -->
<div class="one" style="background-color:white;">
  <a href="{:U('User/add_pwd')}" style="color: black;">
    <div class="one_right" style="padding-left:1rem;">
      <p class="p_1">设置登陆密码</p>
      <img src="__PUBLIC__/Home/images/right_arrow.png"  >
    </div>
  </a>
</div>
<div class="one" style="background-color:white;">
  <a href="{:U('User/add_tx_pwd')}" style="color: black;">
    <div class="one_right" style="padding-left:1rem;">
      <p class="p_1">设置提现密码</p>
      <img src="__PUBLIC__/Home/images/right_arrow.png"  >
    </div>
  </a>
</div>
<div class="blank" style="height:7rem;text-align:center">

</div>

</div>
</body>

</html>
