<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登录密码</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/set_name.css">
    <style media="screen">
    a{
      -webkit-tap-highlight-color:transparent;
    }
    </style>
    <script src="__PUBLIC__/Home/js/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript">
    //清空input文本框
    function clear(){
      $('input').val("");
    }
    //提交事件
      function sm(){
        var user_name=$('#user_name').val();
        if(user_name==''||user_name==null){
          alert('请填写姓名');
          clear();
      }else{
        document.getElementById('form').submit();
      }
    }
    </script>
</head>
<body>
<form method="post" id="form" action="{:U('User/set_name')}">
    <div id="all">
        <div id="title">
            <div id="zuojianjiao">
              <a href="{:U('User/account')}">
                <img src="__PUBLIC__/Home/img/qietu/secondphonerecover/second_01.jpg" style="width: 3rem;height: 4rem; float: left;margin-left: 2rem;margin-top: 1.5rem">
              </a>
            </div>
            <div>你的昵称</div>
        </div>
        <!------------------------------->
        <div class="password">
            <input id="user_name" type="text" name="user_name" placeholder="填写昵称(不可修改)">
        </div>
        <div class="button">
            <a onclick="sm();">提交</a>
        </div>
    </div>
</form>
</body>
</html>
