<include file="Public:header" />
<link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
<!-- <script charset="utf-8" src="__PUBLIC__/kindeditor/jquery-1.9.1.min.js"></script> -->
<form class="J_ajaxForms" name="form" id="form" action="{:U('Goods/add')}" method="POST" enctype="multipart/form-data">
	<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="{:U('Goods/index')}">返回列表</a></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content  form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">产品名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control requireinput" value="">
                            </div>
                        </div>
									 <div class="hr-line-dashed"></div>
												<div class="form-group">
																<label class="col-sm-2 control-label">产品分类</label>
																<div class="col-sm-10">
																		<select name="bid" id="cateid"  class="form-control">
																			<!-- 在select中添加multiple="multiple"属性，name改为数组name[],可以实现多选。 -->
																						<option value="0">==请选择==</option>
																					<foreach name="cates_list" item="cl">
																						<option value="{$cl.id}" >{$cl.name}</option>
																					</foreach>
																		</select>
																</div>
														</div>
                    <div class="hr-line-dashed"></div>
										<div class="form-group">
												<label class="col-sm-2 control-label">零件代码</label>
												<div class="col-sm-10">
														<input type="text" name="code" class="form-control requireinput" value="">
												</div>
										</div>
							 		<div class="hr-line-dashed"></div>
											<div class="form-group">
													<label class="col-sm-2 control-label">材质</label>
													<div class="col-sm-10">
															<input type="text" name="caizhi" class="form-control requireinput" value="">
													</div>
											</div>
										<div class="hr-line-dashed"></div>
										<div class="form-group">
												<label class="col-sm-2 control-label">颜色</label>
												<div class="col-sm-10">
														<input type="text" name="color" class="form-control requireinput" value="">
												</div>
										</div>
										<div class="hr-line-dashed"></div>
										<div class="form-group">
												<label class="col-sm-2 control-label">产品重量</label>
												<div class="col-sm-10">
														<input type="text" name="weight" class="form-control requireinput" value="">
												</div>
										</div>
										<div class="hr-line-dashed"></div>
											<div class="form-group">
													<label class="col-sm-2 control-label">产品图片</label>
													<div class="col-sm-10">
														<input type="file" name="img" value="">
													</div>
											</div>
											<div class="hr-line-dashed"></div>
													<div class="form-group">
																	<label class="col-sm-2 control-label">详情</label>
																		<div class="col-sm-10">
																				<textarea name="content" style="width:800px;height:400px;"></textarea>
																		    <br />
																		    <!-- <label for="images" style="display:none">
																			     <select name="images[]" multiple="multiple" id="images">
																			    </select>
																				</label> -->
																		</div>
													</div>
											<div class="hr-line-dashed"></div>
                        <div class="form-group">
                                <label class="col-sm-2 control-label">是否显示</label>
                                <div class="col-sm-10">
                                    <input type="radio" name="status" value="1" checked="checked">显示&nbsp;&nbsp;
																		<input type="radio" name="status" value="0">不显示
                                </div>
                            </div>
                    <div class="hr-line-dashed"></div>
                	    <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="submit" class="btn btn-w-m btn-success" " />
                                <input type="reset" class="btn btn-w-m btn-default" " />
                                <!-- <button class="btn btn-white" type="reset">取消</button> -->
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
$(function(){
	var editor;
	KindEditor.ready(function(K) {
			editor = K.create('textarea[name="content"]', {
					allowFileManager : true,
					autoHeightMode : true,
					afterCreate : function() {
							this.loadPlugin('autoheight');
					},
					afterUpload : function(url) {
							var firstimageoption = '<option value="' + url + '">' + url + '</option>';
							var selectoption = '<option value="' + url + '" selected="selected">' + url + '</option>';
							$("#firstimage").append(firstimageoption);
							$("#images").append(selectoption);
					}
			});
});
});

</script>
<include file="Public:footer" />
