<include file="Public:header" />
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>搜索	</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form action="{:U('Goods/index')}" role="form" class="form-inline" method="post">
                            <div class="form-group">
                            <label for="exampleInputEmail2" class="sr-only">产品名称</label>
                            <input type="text" placeholder="产品名称"  name="name" value="" class="form-control">
                            </div>
                            <input class="btn btn-w-m btn-success" type="submit" value="搜索" />
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            <div class="btn btn-success">
                              <a href="{:U('Goods/add')}" style="color:white;"><span class="bold">新增</span></a>
                            </div>

                            </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <!-- addData_attribute:{$Think.lang.ADD}:id, -->
                        <table class="table">
                          <tread>
                            <tr width="100%">
                              <th width="15%">编号</th>
                              <th width="15%">产品名称</th>
                              <th width="10%">产品代码</th>
                              <th width="10%">材质</th>
                              <th width="5%">是否显示</th>
                              <th width="15%">图片</th>
                              <th width="15%">操作</th>
                            </tr>
                          </tread>
                          <tbody>
                            <foreach name="list" item="vo">
                              <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.code}</td>
                                <td>{$vo.caizhi}</td>
                                <td><php>if ($vo[status]==1){echo '显示';}</php><php>if ($vo[status]==0) {echo '不显示';}</php></td>
                                <!-- <td><if condition="$vo[status] eq 1">启用<else condition="$vo[status] eq 0" />禁用</if> </td> -->
                                <!-- 用[] -->
                                <td style="text-align:center;"><img style="height:90px;"src="__ROOT__/Uploads/{$vo.img}" alt="{$vo.name}"></td>
                                <td>
                                    <a href="{:U('Goods/edit',array('id'=>$vo[id]))}">编辑</a>&nbsp;&nbsp;
                                    <a href="{:U('Goods/delete',array('id'=>$vo[id]))}">删除</a>
                                </td>
                              </tr>
                          </foreach>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
	<div class="page1">{$page}</div>
</div>
<include file="Public:footer" />
