<include file="Public:header" />
<form class="J_ajaxForms" name="form" id="form" action="{:U('Supplier/edit')}" method="post" enctype="multipart/form-data">
	<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="{:U('Supplier/index')}">返回列表</a></h5>
												<div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content  form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">公司名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="company_name" class="form-control requireinput" value="{$supplier_detail.company_name}">
                            </div>
                        </div>
                    <div class="hr-line-dashed"></div>
												<div class="form-group">
														<label class="col-sm-2 control-label">负责人</label>
														<div class="col-sm-10">
																<input type="text" name="leader" class="form-control requireinput" value="{$supplier_detail.leader}">
														</div>
												</div>
										<div class="hr-line-dashed"></div>
												<div class="form-group">
														<label class="col-sm-2 control-label">联系电话</label>
														<div class="col-sm-10">
																<input type="text" name="tel" class="form-control requireinput" value="{$supplier_detail.tel}">
														</div>
												</div>
										<div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">地址</label>
                            <div class="col-sm-10">
                                <input type="text" name="address" class="form-control requireinput" value="{$supplier_detail.address}">
                            </div>
                        </div>
                    <div class="hr-line-dashed"></div>
											<div class="form-group">
													<label class="col-sm-2 control-label">公司商标(注意：如果更新图片要同时更新商标和展示图片)</label>
													<div class="col-sm-10">
														<img style="width:80px;height:60px;" src="__ROOT__/Uploads/{$photo['0']}">
															<input type="file" name="photo[]" value="">
													</div>
											</div>
										<div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">展示图片(注意：如果更新图片要同时更新商标和展示图片</label>
                        <div class="col-sm-10">
													<img style="width:80px;height:60px;" src="__ROOT__/Uploads/{$photo['1']}" >
                            <input type="file" name="photo[]" value="">
                        </div>
                    </div>
                  <div class="hr-line-dashed"></div>
												<div class="form-group">
														<label class="col-sm-2 control-label">文章内容</label>
														<div class="col-sm-10">
															<textarea name="content" style="width:700px;height:200px;">{$supplier_detail.content}</textarea>
														</div>
												</div>
										<div class="hr-line-dashed"></div>
												<div class="form-group">
																<label class="col-sm-2 control-label">是否显示</label>
																<div class="col-sm-10">
																		<input type="radio" name="status" value="1"<php>if($supplier_detail[status]==1) echo ' checked="checked"';</php>>显示&nbsp;&nbsp;
																		<input type="radio" name="status" value="0"<php>if($supplier_detail[status]==0) echo ' checked="checked"';</php>>不显示
																</div>
														</div>
										<div class="hr-line-dashed"></div>
                	    <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input name="id" value="{$supplier_detail.id}" type="hidden" />
                                <input type="submit" class="btn btn-w-m btn-success" value="提交" />
                                <input type="reset" class="btn btn-w-m btn-default" value="重置" />
                                <!-- <button class="btn btn-white" type="reset">取消</button> -->
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>
<include file="Public:footer" />
