<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>手机回收</title>
    <link href="__PUBLIC__/Home/css/recover.css" rel="stylesheet">
    <script src="__PUBLIC__/Home/js/jquery.min.js" charset="utf-8"></script>
</head>
<!-- 样式 -->
<style>
  a{
    color: black;
    text-decoration: none;
  }
</style>
<!-- js部分 -->
<!-- <script type="text/javascript">
$(document).ready(function(){
  $('.left_brand').click(function(){
    var id=$(this).attr("id");
    var data={'bid':id};
    alert(data);
    $.ajax({
      type:"post",
      url:"{:U('Recover/get_list')}",
      dataType:"json",
      data:data,
      async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行
      success : function(result) {
        var result=eval(result);
        var str=JSON.stringify(result);  //把json转换为字符串。显示详细信息，而不是obj。
        alert(str);
        alert(result);
          },
      error : function(errorMsg) {
        //请求失败时执行该函数
        alert("请求数据失败!");
        }
   });
   $('.left_brand').css({
     "color":"black",
   });
    $(this).css({
      "color":"#e45418",
    });
  });
});
</script> -->
<body>
<div id="all">
    <div id="title">
        <div id="zuojianjiao">
            <a href="{:U('Index/index')}">
              <img src="__PUBLIC__/Home/img/qietu/secondphonerecover/second_01.jpg" style="width: 3rem;height: 4rem; float: left;margin-left: 2rem;margin-top: 1.5rem">
            </a>
        </div>
        <div>手机回收</div>
    </div>
    <!------------------------------------------------->

    <div id="content">
        <div id="con">
            <!--左边品牌列表-->
            <ul id="left">
              <foreach item="ll" name="left_list">
                <a href="{:U('Recover/index',array('id'=>$ll['id']))}">
                  <li class="left_brand" id="{$ll.id}">
                    <img src="{$ll.img}" style="width: 4rem;height: 3rem;margin: 0 auto; display:block;padding-top: 2rem;">
                    <span>{$ll.name}</span>
                  </li>
                </a>
              </foreach>
             <li style="display:none;" data-id="{$bid}" class="present_brand"></li>
            </ul>
            <!--<div id="right">-->
            <div id="right">
              <foreach item="rl" name="right_list">
                <div class="right-one">
                    <a href="{:U('Recover/m_evaluate',array('id'=>$rl['id']))}">
                      <div><img src={$rl.img} style="width: 7rem;height: 10rem;background: 100% 100%;margin-top: 2rem;float: left;margin-left: 1rem" alt="{$rl.name}"></div>
                      <div>{$rl.name}</div>
                    </a>
                </div>
              </foreach>
            </div>

        </div>
    </div>
</div>
</body>
</html>
