<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/dingdanxiangqing.css">
    <style media="screen">
      a{
        -webkit-tap-highlight-color:transparent;
      }
    </style>
</head>
<body>
<div id="all">
    <div id="title">
        <div id="zuojianjiao">
          <a href="{:U('Recover/step_3')}">
            <img src="__PUBLIC__/Home/img/qietu/secondphonerecover/second_01.jpg" style="width: 3rem;height: 4rem; float: left;margin-left: 2rem;margin-top: 1.5rem">
          </a>
        </div>
        <div>订单详情</div>
    </div>
    <!-------------------------------------------->

    <div id="con-one">
        <div>订单状态</div>
        <div></div>
        <div>
            <p>待用户发货</p>
            <p>2017-07-11 14:57:55</p>
        </div>
        <div><img src="__PUBLIC__/Home/img/jianjiao.png" style="width: 7rem;height: 7rem;float: right;margin-right:4rem;background: 100% 100%"></div>
    </div>
    <div id="con-two">
        <p>发货信息</p>
        <p>邮寄地址：某某人 024-0000-1111</p>
        <p>辽宁省沈阳市白塔路156号科技孵化中心714室</p>
    </div>
    <div id="con-three">
        <p id="wupin">物品信息</p>
        <div style="float:left;"><img src="__PUBLIC__/Home/img/shouji.png" style="width: 12rem;height:17rem;background: 100% 100%"></div>
        <div id="xinxi">
            <p>iphone7</p>
            <p>128G、正常开机、通话正不正常、充电不正常无线正常、屏幕正常显示、无拆机无维修...</p>
        </div>
        <div id="xiangqing">
            <span>查看详情</span><img src="__PUBLIC__/Home/img/xiajianjiao.png">
        </div>
    </div>
    <div id="con-four">
        <div>物品金额</div>
        <div>￥1500</div>
    </div>
    <div id="con-five">
        <div id="con-five-one">
            <div>预计回收价</div>
            <div>￥1500</div>
        </div>
        <p>订单编号:xxxxxxxxxxxxxx</p>
        <p>创建时间:xxxxxxxxxxxxxx</p>
        <p>收款方式:钱包收款</p>
    </div>

</div>
</body>
</html>
