
.top-header{ background-color: #f60; width: 100%; overflow: hidden; position: relative; display: table;}
.top-header h3{ font-size: 1.6em; padding: 1em; margin: 0 30%;   white-space: nowrap; text-align: center; overflow: hidden; text-overflow: ellipsis; display: block; color: #fff; font-weight: normal; display: table-cell;}
.top-header a:first-child{width: 14%; display: table-cell;  padding:0 4%;vertical-align: middle;}
.top-header a:last-child{ width: 14%; display:table-cell;padding:0 4%; vertical-align: middle;}
.top-header img{ width: 100%;  display: block;}
body{ background-color: #f2f2f2;}
.title_left{
  width: 28%;
  height: 4rem;
  float: left;
}
.title_left img{
  float: left;
  width: 2rem;
  margin-top: 1rem;
  margin-left: 10px;
}
.title_left p{
  color: white;
  line-height: 3rem;
  float: left;
}
.title_right{
  text-align: center;
  height: 3rem;
  width: 42%;
  float: left;
}
.title_right p{
  color: white;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 4rem;
}
/*表单*/
.section{
  width: 100%;
  font-size: 1.3rem;
  background-color: white;
  margin-top: 1rem;
  border-top: 1px solid #e9e0e0;
  border-bottom: 1px solid #e9e0e0;
}
.section_one{
  width: 100%;
  height: 4rem;
}
.info{
  float: left;
  line-height: 4rem;
  color: black;
  margin-left: 1.5rem;
}
input{
  width: 60%;
  margin-top: 1rem;
  border: none;
  outline: none;
  margin-left: 1.5rem;
}
.button{
  width: 96%;
  height: 4rem;
  color: white;
  background-color: #00ccff;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align:center;
  margin: 0 auto;
  margin-top:2rem;
}
.tj{
  line-height: 4rem;
}
/*小建议*/
.tips{
  width: 100%;
  margin-top: 5rem;
}
.tips p{
  width: 80%;
  font-size: 14px;
  color: grey;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}
