*{margin:0;padding:0;list-style:none;text-decoration:none;font-family:"微软雅黑"}
/*标题部分*/
.title{

}
.title_left{
  width: 28%;
  height: 3rem;
  float: left;
}
.title_left img{
  float: left;
  width: 1.5rem;
  margin-top: 0.6rem;
  margin-left: 10px;
}
.title_left p{
  color: white;
  line-height: 3rem;
  float: left;
}
.title_mid{
  text-align: center;
  height: 3rem;
  width: 42%;
  float: left;
}
.title_mid p{
  color: white;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 3rem;
}
.title_right{
  text-align: center;
  height: 3rem;
  float: right;
}
.title_right p{
  color: white;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: bold;
  line-height: 3rem;
  margin-right: 1rem;
}
/*评论开始*/
.container{
  width: 96%;
  margin: 0 auto;
}
.row_1{
  height: 5rem;
  margin:0.5rem 0rem 0.5rem 0rem;
}
.row_1_left{
  width: 5rem;
  float: left;
}
.row_1_left img{
  width: 5rem;
  float: left;
}
.row_1_right{
  width: 79%;
  height: 5rem;
  float: left;
}
.row_1_right p{
  margin-left: 1rem;
  float: left;
}
/*描述相符*/
.star_1{
  float: left;
  margin-top: 1.8rem;
}
.star_1 p{
  color: grey;
}
.star_1 p a{
  float: left;
}
.star_size{
  width:1.2rem;
  margin-left: 0.5rem;
}
/*物流速度*/
.star_2{
  width: 75%;
  float: left;
}
.star_2 p{
  color: grey;
  float: left;
}
.star_2 p a{
  float: left;
}
.wl{
  height: 2rem;
  border-bottom: 1px solid #d1c9c9;
  margin-bottom: 0.5rem;
}
.wl_left{
  float:left;
}
.fw{
  height: 2rem;
  border-bottom: 1px solid #d1c9c9;
}

/*文本框相关样式*/
input:focus, textarea:focus {
    outline: none;
}
.common_textarea{
  width:98%;
  border-radius:5px;
  border-color:#cccccc;
  color: #242323;
  padding: 5px 0px 0px 5px;
}
/*iphone6*/
@media(max-width:375px){
  .row_1_right{
    width:77%;
  }
  #message{
    margin: 5px 0px 0px 3px;
  }
}
/*iphone5*/
@media(max-width:320px){
  .star_1{
    width:63%;
  }
  .row_1_right{
    width:72%;
  }
  .row_1_right p{
    margin-left: 0.5rem;
  }
  #message{
    margin: 0px;
  }
  .star_size{
    width:1rem;
    margin-left: 0.3rem;
  }
}
