*{margin:0;padding:0;list-style:none;text-decoration:none;font-family:"微软雅黑"}
/*标题部分*/
.title{

}
.title_left{
  width: 28%;
  height: 3rem;
  float: left;
}
.title_left img{
  float: left;
  width: 1.5rem;
  margin-top: 0.6rem;
  margin-left: 10px;
}
.title_left p{
  color: white;
  line-height: 3rem;
  float: left;
}
.title_right{
  text-align: center;
  height: 3rem;
  width: 42%;
  float: left;
}
.title_right p{
  color: white;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 3rem;

}
/*筛选框*/
.choose{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.choose_in{
  width: 95%;
  height: 35px;
  margin: 0 auto;
  border: 1.5px solid #d3c9c9;
  border-radius: 5px;
}
.in_left{
  width: 33%;
  height: 100%;
  float: left;
  color: white;
  background-color: #00ccff
}
.in_left p{
  height: 100%;
  line-height: 30px;
}
.in_right{
  width: 34%;
  height: 100%;
  float: left;
  color: #00ccff;
}
.in_right p{
  height: 100%;
  line-height: 30px;
}
.in_mid{
  width: 33%;
  height: 100%;
  float: left;
  color: #00ccff;
}
.in_mid p{
  height: 100%;
  line-height: 30px;
}
/*产品列表*/
.one{
  width:100%;
  height:7rem;
  border-bottom: 1px solid #eeebeb;
}
.one_left{
  float:left;
}
.one_left img{
  width: 6rem;
  margin:10px;
}
.one_right{
  float:left;
  width: 66%;
}
.one_right img{
  width:3rem;
  float:right;
  position:relative;
  right: 0;
  bottom: 10px;
}
/*商品属性*/
.container{
  height: 10rem;
}
.section_1{
  height: 6rem;
  border-bottom: 1px solid #e7e5e5;
}
.section_2{
  height: 2.3rem;
  border-bottom: 1px solid #e7e5e5;
}
.p_1{
  width:95%;
  font-size: 18px;
  margin-left: 3%;
  margin-top: 1.5rem;
  font-weight: bold;
}
.p_2{
  margin-left: 3%;
  margin-top: 5px;
  color: grey;
}
.p_3{
  margin-left: 3%;
  margin-top: 5px;
  float: left;
  color: #e78258;
  font-size: 17px;
  margin-right: 10px;
}
.p_4{
  margin-top: 5px;
  float: left;
  text-decoration:line-through;
  color: grey;
}
.p_5{
  margin-top: 5px;
  margin-left: 3%;
  float: left;
}
.p_6{
  margin-top: 5px;
  margin-left: 23%;
  float: left;
  color:grey;
}

/*购买的两个按钮*/
.btn_l{
  width: 7rem;
  float: left;
  height: 2.5rem;
  background-color: #00ccff;
  border-radius: 5px;
  color: white;
  margin-left: 18%;
  margin-bottom: 2rem;
  text-align: center;
}
.btn_l p{
  line-height: 2.5rem;
}
.btn_r{
  width: 7rem;
  float: left;
  height: 2.5rem;
  background-color: #00ccff;
  border-radius: 5px;
  color: white;
  margin-left: 10%;
  text-align: center;
}
.btn_r p{
  line-height: 2.5rem;
}
/*评论样式*/
.comment{
  width: 100%;
  display: none;
}
.comment_one{
  width: 100%;
  min-height: 6rem;
  margin-bottom: 1rem;
  color: #393838;
}
.top{
  min-height: 4rem;
}
.top_left{
  float: left;
}
.top_left img{
  width: 3rem;
  height: 3rem;
  border-radius: 42px;
  margin: 1rem;
}
.top_right{
  float: left;
  margin-top: 1rem;
}
.bottom{
  min-height: 3rem;
  padding-left: 4rem;
  border-bottom: 1px solid #f3f2f2;
}
.bottom p{
  padding-left: 1rem;
  padding-right: 1rem;
}

/*iphone5适配*/
@media(max-width:320px){
  .btn_l{
    margin-left: 11%;
  }
  #footer img{
    margin-left: 29%;
  }
  .top{
    min-height: 4rem;
  }
  .top_left img {
    width: 3rem;
    margin: 1rem;
}
  .comment_one{
    font-size: 0.6rem;
      margin-bottom: 0rem;
  }
}
