body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
body{
    margin: 0;
    padding: 0;
}
#all{
    min-height:100rem;
     _min-height:108rem;
    position: relative;
   /*background:url(../images/login/bg.jpg) no-repeat;*/
   background-size: 100% auto;
   background-color: #00ccff;
}
p{
    margin: 0;
    padding: 0;
}

/*--------------------------------------------*/
#background{
    width: 90%;
    height: 80rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#logo{
    width: 100%;
    height: 22rem;
    /*outline: 1px solid #000000;*/
    position: relative;
    margin-bottom: 7rem;
}
#logo img{
    display: block;
    /*margin: 0 auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#con-bottom{
    width: 100%;
    height: 40rem;
    /*border: 1px solid red;*/
    margin-top: 14rem;
    margin: 0 auto;
    text-align: center;
      }
#con-bottom div:nth-child(1){
    height: 8rem;
    margin-top: 2rem;
}
#con-bottom div:nth-child(1) input{
    /*display: block;*/
    width: 75%;
    height: 8rem;
    font-size: 2.5rem;
    display: block;
    margin: 0 auto;
    padding-left: 2rem;
}
#con-bottom div:nth-child(2){
    height: 8rem;
    margin-top: 3rem;
}
#con-bottom div:nth-child(2) input{
    /*display: block;*/
    width: 75%;
    height: 8rem;
    font-size: 2.5rem;
    display: block;
    margin: 0 auto;
    padding-left: 2rem;
    position: relative;
}
#con-bottom div:nth-child(3) input{
    /*display: block;*/
    width: 75%;
    height: 8rem;
    font-size: 2.5rem;
    display: block;
    margin: 0 auto;
    padding-left: 2rem;
    position: relative;
}
#passwd{
    /*display: block;*/
    width: 97%;
    height: 8rem;
    font-size: 2.5rem;
    display: block;
    margin: 0 auto;
    padding-left: 2rem;
    position: relative;
    margin-top: 3rem;
}
.yz{
    width: 25%;
    height: 4.5rem;
    display: block;
    border-radius: 1rem;
    background-color: white;
    color: black;
    line-height: 4.5rem;
    text-align: center;
    float: left;
    font-size: 2.0rem;
    position: absolute;
    top: 1.5rem;
    left: 39.5rem;
}
#login1{
    width: 100%;
    height: 10rem;
    margin-top: 3rem;
}
#login1 a{
    width: 96%;
    height: 8rem;
    font-size: 3rem;
    background-color: #0099ff;
    display: block;
    float: left;
    color: #ffffff;
    text-align: center;
    line-height: 8rem;
    text-decoration: none;
    border-radius: 28px;
}
#login2{
    width: 100%;
    height: 10rem;
    margin-top: 3rem;
}
#login2 a{
    width: 96%;
    height: 8rem;
    font-size: 3.5rem;
    background-color: #0099ff;
    display: block;
    float: left;
    color: #ffffff;
    text-align: center;
    line-height: 8rem;
    text-decoration: none;
    border-radius: 28px;
}
/*原来内联样式*/
/*登录按钮样式*/
  .lg_button{
  width: 85%;
  height: 8rem;
  font-size: 3.5rem;
  border: 0.1rem solid #c1c2c2;
  display: block;
  margin: 0 auto;
  padding-left: 2rem;
  position: relative;
  color: white;
  background-color: #f17542;
  }
/*建议*/
  .jy{
  text-align: center;
  margin-top: 2rem;
  position: absolute;
  bottom: 24px;
  right: 34px;
  }
  a{
  text-decoration: none;
  font-size: 27px;
  color: black;
  }
  /*js提示样式*/
  .ts{
  width: 85%;
  height: 8rem;
  font-size: 2.5rem;
  display: block;
  margin: 0 auto;
  padding-left: 2rem;
  text-align: left;
  }
  .input_order{
    height: 46px;
    padding: 0 5px;
    margin-bottom: 30px;
    border-radius: 50px;
    position: relative;
    border: rgba(255,255,255,0.2) 3px solid !important;
    width: 100%;
  }
input{
    width: 220px;
    height: 46px;
    outline: none;
    display: inline-block;
    font: 14px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
    margin-left: 50px;
    border: none;
    background: none;
    line-height: 46px;
    color:white;
}
  .tubiao{
  position: absolute;
  top: 41px;
  left: 57px;
  }
  .xieyi{
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 2.0rem;
  color: grey;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  }
 input::-webkit-input-placeholder {
   /* WebKit browsers */
   color: #fff;
 }
 input:-moz-placeholder {
   /* Mozilla Firefox 4 to 18 */
   color: #fff;
 }
 input::-moz-placeholder {
   /* Mozilla Firefox 19+ */
   color: #fff;
 }
 input::-ms-input-placeholder {
   /* Internet Explorer 10+ */
   color: #fff;
 }
