*{  list-style: none;  }
body{ margin: 0; padding: 0; }
#all{ min-height:108rem; _min-height:108rem; }
p{ margin: 0;  padding: 0; }
#title{
    width: 100%;
    height: 9rem;
    background-color: #f8f8f8;
    color: #e95011;
    font-size: 4rem;
    text-align: center;
    line-height: 9rem;
    margin-bottom: 10rem;
}
#zuojianjiao{
    float: left;
}
#title div:nth-child(2){
    width: 80%;
    height: 9rem;
    float: left;
    color: #e95011;
    margin: 0 auto;
}
/*---------------------------------*/
.password{
    width: 80%;
    height: 8rem;
    /*border: 1px solid red;*/
    margin: 0 auto;
}
.password input{
    width: 97%;
    height: 6rem;
    border: 0.1rem solid #dcdcdc;
    font-size: 2.2rem;
    padding-left: 2%;
}
.button{
    width: 80%;
    height: 8rem;
    margin: 0 auto;
    margin-top: 10rem;
}
.button a{
    display: block;
    width: 99%;
    height: 8rem;
    text-decoration: none;
    text-align: center;
    line-height: 8rem;
    color: white;
    font-size: 2.5rem;
    background-color: #ff6a07;
}











