*{margin:0;padding:0;list-style:none;text-decoration:none;font-family:"微软雅黑"}
/*标题部分*/
.title{

}
.title_left{
  width: 28%;
  height: 3rem;
  float: left;
}
.title_left img{
  float: left;
  width: 1.5rem;
  margin-top: 0.6rem;
  margin-left: 10px;
}
.title_left p{
  color: white;
  line-height: 3rem;
  float: left;
}
.title_right{
  text-align: center;
  height: 3rem;
  width: 42%;
  float: left;
}
.title_right p{
  color: white;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 3rem;

}
/*地图下方*/
.words{
  width: 100%;
  height: 5rem;
  text-align: center;
  margin-top: 3rem;
}
.words p{
  line-height: 2rem;
  font-size: 1.3rem;
  font-weight:bold;
  color: #00ccff;
}
/*指南针*/
.direction{
  width: 20%;
  background-image: url(../images/direction_bot.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0rem 0rem 0rem 1rem;
}
.arrow{
  width:100%;
}
/*地图*/
.map{
  width: 100%;
}
.map img{
  width: 100%;
}
/*城市坐标*/
a{
  color:black;
  font-size: 0.9rem;
}
.tl{
  position: absolute;
  top: 15rem;
  left: 17rem;
}
.fs{
  position: absolute;
  top: 17rem;
  left: 18rem;
}
.sy{
  position: absolute;
  top: 18rem;
  left: 14rem;
}
.bx{
  position: absolute;
  top: 20rem;
  left: 17rem;
}
.ly{
  position: absolute;
  top: 21rem;
  left: 15rem;
}
.as{
  position: absolute;
  top: 24rem;
  left: 13rem;
}
.pj{
  position: absolute;
  top: 23rem;
  left: 10.5rem;
}
.yk{
  position: absolute;
  top: 26rem;
  left: 12rem;
}
.dl{
  position: absolute;
  top: 35rem;
  left: 10rem;
}
.dd{
  position: absolute;
  top: 27rem;
  left: 18rem;
}
.fx{
  position: absolute;
  top: 17rem;
  left: 9rem;
}
.cy{
  position: absolute;
  top: 22rem;
  left: 4rem;
}
.hld{
  position: absolute;
  top: 26rem;
  left: 4rem;
}
.jz{
  position: absolute;
  top: 22rem;
  left: 8rem;
}
/*iphone6适配*/
@media(max-width:375px){
  a{
    color:black;
    font-size: 0.9rem;
  }
  .tl{
    position: absolute;
    top: 14rem;
    left: 15rem;
  }
  .fs{
    position: absolute;
    top: 16rem;
    left: 16rem;
  }
  .sy{
    position: absolute;
    top: 17rem;
    left: 13rem;
  }
  .bx{
    position: absolute;
    top: 19rem;
    left: 16rem;
  }
  .ly{
    position: absolute;
    top: 20rem;
    left: 14rem;
  }
  .as{
    position: absolute;
    top: 23rem;
    left: 12rem;
  }
  .pj{
    position: absolute;
    top: 22rem;
    left: 9.5rem;
  }
  .yk{
    position: absolute;
    top: 25rem;
    left: 10rem;
  }
  .dl{
    position: absolute;
    top: 32rem;
    left: 9rem;
  }
  .dd{
    position: absolute;
    top: 24.5rem;
    left: 16rem;
  }
  .fx{
    position: absolute;
    top: 16rem;
    left: 8rem;
  }
  .cy{
    position: absolute;
    top: 20rem;
    left: 3rem;
  }
  .hld{
    position: absolute;
    top: 23.5rem;
    left: 3rem;
  }
  .jz{
    position: absolute;
    top: 21rem;
    left: 7rem;
  }
}
/*iphone5屏幕适配*/
@media(max-width:320px){
  .words{
    margin-top: 1rem;
  }
  .words p{
    font-size: 1rem;
  }
  a{
    color:black;
    font-size: 0.9rem;
  }
  .tl{
    position: absolute;
    top: 12rem;
    left: 13rem;
  }
  .fs{
    position: absolute;
    top: 14rem;
    left: 14rem;
  }
  .sy{
    position: absolute;
    top: 15rem;
    left: 10rem;
  }
  .bx{
    position: absolute;
    top: 17rem;
    left: 14rem;
  }
  .ly{
    position: absolute;
    top: 18rem;
    left: 12rem;
  }
  .as{
    position: absolute;
    top: 19rem;
    left: 10rem;
  }
  .pj{
    position: absolute;
    top: 18rem;
    left: 7.5rem;
  }
  .yk{
    position: absolute;
    top: 21rem;
    left: 9rem;
  }
  .dl{
    position: absolute;
    top: 28rem;
    left: 7rem;
  }
  .dd{
    position: absolute;
    top: 21.5rem;
    left: 14rem;
  }
  .fx{
    position: absolute;
    top: 14rem;
    left: 7rem;
  }
  .cy{
    position: absolute;
    top: 18rem;
    left: 2rem;
  }
  .hld{
    position: absolute;
    top: 21.5rem;
    left: 2rem;
  }
  .jz{
    position: absolute;
    top: 19rem;
    left: 5rem;
  }
}
