*{margin:0;padding:0;list-style:none;text-decoration:none;font-family:"微软雅黑"}
input{outline:medium;}
body{min-width:300px;max-width:640px;margin:0 auto;background:#fff;-webkit-tap-highlight-color:rgba(0,0,0,0);}
div{box-sizing:border-box;}
.box-sizing{box-sizing:border-box;}
img{display:block;}
.block{display:block;}
#return{
	display:block;
	width:16px;
	height:27px;
	position:absolute;
	top:8px;
	left:6px;
	background:url(../images/return.png) no-repeat center;
	background-size:cover;
	}
#vip_centers a:nth-last-child(1){border-bottom:none;}
.fff{color:#fff;}
.width100{width:100%!important;}
.width96{width:96%!important;}
.width50{width:50%!important;}
.width49{width:49%!important;}
.width25{width:25%!important;}
.width33{width:33.3%!important;}
.bj_fff{background:#fff;}
.bj_red{background:red;}
.border{border:1px solid #ddd;}
.borderb{border-bottom:1px solid #ddd;}
.hidden{overflow:hidden;}
.center{margin:0 auto;}
.tcenter{text-align:center;}
.relative{position:relative;}
.absolute{position:absolute;}
.font12{font-size:12px!important;}
.font13{font-size:13px!important;}
.font14{font-size:14px!important;}
.font16{font-size:16px!important;}
.font18{font-size:18px!important;}
.font20{font-size:20px!important;}
.font24{font-size:24px!important;}
.font27{font-size:27px!important;}
.c_33{color:#333;}
.c_66{color:#666;}
.c_99{color:#999;}
.c_dd{color:#ddd;}
.red{color:#fa3745;}
.left{float:left;}
.right{float:right;}
.font100{font-weight:100;}
.jiachu{font-weight:bold;}
.fixed{position:fixed;}
.yihang{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#box{width:600%;height:auto;overflow:hidden;}
#box img{float:left;opacity:1;}
#fenlei a{
	display:block;
	width:25%;
	float:left;
	overflow:hidden;
}
#fenlei a b{
	display:block;
	width:40px;
	height:40px;
	border-radius:20px;
	overflow:hidden;
	margin:0 auto;
	}
#fenlei a b img{
	width:40px;
	height:auto;
	}
#fenlei a b{
	box-shadow:3px 3px 6px rgba(254,48,96,0.2);
	}
#fenlei a:nth-child(2) b img{
	margin-top:-40px;
	}
#fenlei a:nth-child(3) b img{
	margin-top:-80px;
	}
#fenlei a:nth-child(4) b img{
	margin-top:-120px;
	}
#fenlei a:nth-child(2) b{
	box-shadow:3px 3px 6px rgba(254,179,52,0.2);
	}
#fenlei a:nth-child(3) b{
	box-shadow:3px 3px 6px rgba(121,214,47,0.2);
	}
#fenlei a:nth-child(4) b{
	box-shadow:3px 3px 6px rgba(38,149,239,0.2);
	}
.ts{
	display:block;
	overflow:hidden;
	float:left;
	}
#hot_sp{
	height:auto;
	width:2000%
	}
#hot_sp a{
	display:block;
	overflow:hidden;
	float:left;
	margin-right:16px;
	width:188px;
	color:#333;
	}
#hot_sp a:nth-last-child(1){
	margin-right:0;
	}
#hot_sp a img{
	display:block;
	width:100%;
	height:192.77px;
	}
#new_xz a{
	display:block;
	width:49%;
	float:left;
	overflow:hidden;
	background:#fff;
	margin-bottom:8px;
	min-height:150.52px;
	color:#333;
	}
#new_xz a:nth-child(2n){
	float:right;
	}
#new_xz a img{
	display:block!important;
	width:100%;
	height:100%;
	}
#footer{
	width:100%;
	height:58px;
	overflow:hidden;
	position:fixed;
	bottom:0;
	left:0;
	background:#fff;
	}
#footer a{
	display:block;
	width:25%;
	float:left;
	color:#000;
	}
#footer a.on{
	color:black;
	}
#footer a p{
	display:block;
	width:100%;
	height:auto;
	text-align:center;
	font-size:24px!important;
	margin-top:6px;
	}
#footer a span{
	display:block;
	width:100%;
	height:auto;
	text-align:center;
	font-size:12px;
	}
#navs{
	width:100%;
	height:44px;
	background:url(../images/bjx.jpg) repeat-x;
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	}
#navs span{
	display:block;
	position:absolute;
	display:block;
	width:16px;
	height:27px;
	top:8.5px;
	left:0;
	}
#navs_in{
	width:96%;
	height:44px;
	overflow:hidden;
	margin:0 auto;
	position:relative;
	}
#navs span img{
	width:16px;
	height:27px;
	}
#navs_in .tab_nav{
	width:33.3%;
	height:44px;
	float:left;
	text-align:center;
	line-height:44px;
	display:block;
	font-size:16px;
	color:#333;
	}
#navs_in .tab_nav.on{
	color:red;
	}
.sc_Y{
	overflow:scroll;
	overflow-X:hidden;
	}
#buy_in{
	width:100%;
	height:50px;
	position:fixed;
	bottom:0;left:0;
	background:#fff;
	border-top:1px solid #ddd;
	z-index:1000;
	}
#buy_in div:nth-child(1){
	background:#fff;
	color:#999;
	font-size:14px;
	height:50px;
	width:33.3%;
	text-align:center;
	}
#buy_in div:nth-child(2){
	background:#ffb03f;
	color:#fff;
	font-size:14px;
	height:50px;
	line-height:50px;
	width:33.3%;
	text-align:center;
	}
#buy_in div:nth-child(3){
	background:#f23030;
	color:#fff;
	font-size:14px;
	height:50px;
	line-height:50px;
	width:33.3%;
	text-align:center;
	}
#gz.on{
	color:#f23030!important;
	}
.yi_top{
	border-bottom:1px solid #ddd;height:48px;line-height:48px;
	}
.yi_top img{
	width:27px;height:27px;border-radius:50%;float:left;margin-top:11px;margin-bottom:11px;float:left;
	}
.yi_top span{
	float:left;
	font-size:13px;
	color:#333;
	margin-left:12px;
	}
.yi_top font{
	float:right;
	font-size:13px;
	color:#666;
	}
.nav_left{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#333;
	border-bottom:1px solid #ddd;
	}
.nav_left.on{
	background:#fff;
	color:red;
	}
.nav_right{
	width:96%;
	height:auto;
	border-bottom:1px dashed #ddd;
	padding-top:10px;
	padding-bottom:10px;
	margin:0 auto
	}
.nav_right h3{
	font-size:14px;
	color:#333;
	margin-bottom:6px;
	}
.on_in{
	width:100%;
	margin:0 auto;
	height:auto;
	overflow:hidden;
	}
.on_in a{
	display:block;
	padding:3px 6px 3px 6px;
	border-radius:3px;
	border:1px solid #999;
	float:left;
	font-size:13px;
	color:#333;
	margin-right:3px;
	margin-bottom:6px;
	}
.add_xx{
	padding-top:12px;padding-bottom:12px;
	min-height:20px;
	line-height:20px;
	border-bottom:1px solid #ddd;
	}
.add_xx span{
	font-size:14px;
	color:#666;
	float:left;
	}
.das{
	border:0;
    background:#fff;
	float:left;
    height:20px;
    font-size:14px;
    color:#232326;
	}
#adres{
	width:100%;
	min-width:245px;
	overflow:hidden;
    word-wrap:break-word;
    min-height:26px;
	padding-top:0;
    vertical-align:middle;
    font-size:14px;
    color:#232326;
    resize:none;
    border:0 solid transparent;
    outline:0;
    overflow-y:hidden;
    background-color:white;
	}
.mask{
	display:none;
	position:absolute;
	top:0;left:0;z-index:12;
	width:100%;height:100%;
	background-color:rgba(0,0,0,.5)
	}
#expressArea{color:#333;}
#expressArea dl{width:100%;height:20px;overflow:hidden;}
#expressArea dl dt{float:left;font-size:14px;}
#expressArea dl dd{float:left;font-size:14px;}
/*选择地区弹层*/
.express-area-box { position: absolute; bottom: -100%; left: 50%; z-index: 15; width: 320px; margin-left: -160px; background-color: #fff; color: #4d525d; }
.express-area-box header { position: relative; border-top: 1px solid #e2e2e2; border-bottom: 1px solid #e2e2e2; }
.express-area-box header h3 { margin: 0 1.675rem; text-align: center; font-size: .8rem; line-height: 2.25rem; }
.express-area-box header .back,
.express-area-box header .close { position: absolute; top: 0; width: 1.675rem; height: 2.25rem; }
.express-area-box header .back { display: none; left: 0; background: url(../images/back.png) no-repeat center;   background-size: .45rem .75rem; }
.express-area-box header .close { right: 0; background: url(../images/close-area.png) no-repeat center; background-size: .675rem .675rem; }
.express-area-box article { height: 250px; overflow-y: scroll; }
.area-list li { padding: .5rem; border-bottom: 1px solid #e2e2e2; text-align: justify; font-size: .7rem; line-height: 1.25rem; }
@media (min-width: 721px) and (max-width: 1300px) {
	.express-area-box { width: 224px; margin-left: -112px; }
	.express-area-box header h3 { font-size: .7rem; line-height: 1.7rem; }
	.express-area-box header .back,
	.express-area-box header .close { height: 1.7rem; }
	.express-area-box article { height: 120px; }
	.area-list li { padding: .3rem; font-size: .6rem; line-height: 1rem; }
}
@media (max-width: 720px) {
	.express-area-box { position: fixed; left: 0; width: 100%; margin-left: 0; }
}
#min_s{
	float:left;
	display:block;
	width:25px;
	height:25px;
	border:1px solid #e3e5e9;
	text-align:center;
	line-height:21px;
	font-size:30px;
	color:#666;
	border-right:0;
	}
#add_s{
	float:left;
	display:block;
	width:25px;
	height:25px;
	border:1px solid #e3e5e9;
	text-align:center;
	line-height:21px;
	font-size:30px;
	color:#666;
	border-left:0;
	}
#t_a{
	float:left;
	display:block;
	width:25px;
	height:25px;
	border:1px solid #e3e5e9;
	text-align:center;
	line-height:21px;
	color:#666;
	}
.size_s span{
	font-size:14px;
	color:#333;
	float:left;
	display:block;
	height:27px;line-height:27px;
	}
.size_s a{
	display:block;
	padding:3px 6px 3px 6px;
	border:1px solid #e3e5e9;
	float:left;
	font-size:14px;
	color:#333;
	margin-left:6px;
	margin-bottom:6px;
	border-radius:3px;
	}
.size_s a.on{
	color:red;
	border-color:red;
	}
.ak_47{
	display:block;
	width:18px;
	height:18px;
	overflow:hidden;
	background:url(../images/xzk.jpg) no-repeat 0 0;
	margin-bottom:6px;
	}
.m_16.on .ak_47{
	background-position:0 -18px;
	}
#an_js{
	position:fixed;bottom:0;left:0;height:50px;line-height:50px;
	border-top:1px solid #e3e5e9;
	}
#an_js span{
	float:left;
	font-size:14px;
	padding-left:6px;
	padding-right:6px;
	}
#an_js a{
	float:right;
	font-size:14px;
	padding-left:14px;
	padding-right:14px;
	background:red;
	color:#fff;
	}
#an_js .on{
	color:red;
	}
.txhe{
	background:#f23030;border-radius:6px;min-height:100px;
    -webkit-box-orient:horizional;/*水平或垂直分布   horizional/vertical*/
    -webkit-box-direction:normal;/*规定子元素的显示方向 normal/reverse/inherit 默认/相反/继承子元素的box-derection*/
	}
.txhe div:nth-child(1){
	border-right:1px solid #fff;min-height:100px;padding-left:10px;padding-right:10px; -webkit-box-flex: 1;
	}
.txhe div:nth-child(2){
	 -webkit-box-flex: 1;
	}
.txhe div:nth-child(2) p{
	padding:6px;
	}
.txhe div:nth-child(3){
	min-height:100px;padding-left:10px;padding-right:10px;line-height:100px;border-left:1px solid #fff; -webkit-box-flex: 1;
	}
.n0 i{color:#ccc!important}
.n1 i{color:#ab7252!important}
.n2 i{color:#b3b8bb!important}
.n3 i{color:#f7e48e!important}

/*共用*/
#footer{
	box-shadow: 0 0 20px #e3e3e3;
}
#footer img{
	width:2rem;margin-left:34%;
}
