<include file="Public:header" />
<link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
<form class="J_ajaxForms" name="form" id="form" action="{:U('Article/add')}" method="POST" enctype="multipart/form-data">
	<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="{:U('Article/index')}">返回列表</a></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content  form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文章名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="title" class="form-control requireinput" value="">
                            </div>
                        </div>
                    <div class="hr-line-dashed"></div>
												<div class="form-group">
														<label class="col-sm-2 control-label">主要简介</label>
														<div class="col-sm-10">
																<input type="text" name="main" class="form-control requireinput" value="">
														</div>
												</div>
										<div class="hr-line-dashed"></div>
												<div class="form-group">
														<label class="col-sm-2 control-label">关键词</label>
														<div class="col-sm-10">
																<input type="text" name="key_words" class="form-control requireinput" value="">
														</div>
												</div>
										<div class="hr-line-dashed"></div>
											<div class="form-group">
													<label class="col-sm-2 control-label">文章头图</label>
													<div class="col-sm-10">
															<input type="file" name="img" value="">
													</div>
											</div>
										<div class="hr-line-dashed"></div>
												<div class="form-group">
														<label class="col-sm-2 control-label">文章内容('如果发布后格式错乱，请点击清除html代码')</label>
														<div class="col-sm-10">
															<textarea name="content" style="width:700px;height:200px;"></textarea>
														</div>
												</div>
										<div class="hr-line-dashed"></div>
                        <div class="form-group">
                                <label class="col-sm-2 control-label">是否显示</label>

                                <div class="col-sm-10">
                                    <input type="radio" name="status" value="1">显示&nbsp;&nbsp;
																		<input type="radio" name="status" value="0">不显示
                                </div>
                            </div>
                    <div class="hr-line-dashed"></div>
                	    <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="submit" class="btn btn-w-m btn-success" " />
                                <input type="reset" class="btn btn-w-m btn-default" " />
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
$(function(){
	var editor;
	KindEditor.ready(function(K) {
			editor = K.create('textarea[name="content"]', {
					allowFileManager : true,
					autoHeightMode : true,
					afterCreate : function() {
							this.loadPlugin('autoheight');
					},
					afterUpload : function(url) {
							var firstimageoption = '<option value="' + url + '">' + url + '</option>';
							var selectoption = '<option value="' + url + '" selected="selected">' + url + '</option>';
							$("#firstimage").append(firstimageoption);
							$("#images").append(selectoption);
					}
			});
});
});

</script>
<include file="Public:footer" />
